<section class="content-header" ng-controller="projectController">
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
        <li><a href="#"><i class="fa fa-dashboard"></i> Dự án</a></li>
        <li class="active">Danh sách Dự án</li>
    </ol>
</section>


<section class="content" ng-controller="projectController">
    <h3></h3>
    <!--danh sach tin tuc-->
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-danger">
                <div class="box-header">
                    <i class="fa fa-list"></i>
                    <h3 class="box-title text-uppercase">DANH SÁCH Dự án</h3>
                    <!-- tools box -->
                    <div class="pull-right box-tools">
                        <button class="btn btn-danger btn-sm" data-widget="collapse" title="Rút gọn"><i class="fa fa-minus"></i></button>
                        <!--<button class="btn btn-danger btn-sm" data-widget="remove" data-toggle="tooltip" title="Bỏ đi"><i class="fa fa-times"></i></button>-->
                    </div><!-- /. tools -->
                </div>
                <div class="box-body">
                    <table datatable="ng" id="newsTable" class="table table-bordered table-hover"
                           dt-options="dtOptions" dt-column-defs="dtColumnDefs">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Tên bài viết</th>
                                <th>Ngày tạo</th>
                                <th>Ngày cập nhật</th>
                                <th>Người cập nhật</th>
                                <th>Tình trạng</th>
                                <th>Vị trí</th>
                                <th>Chỉnh sửa</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="news in allProjects | orderBy:'zOrder'">
                                <td>{{$index + 1}}</td>
                                <td>{{news.name}}</td>
                                <td>{{news.createTime | date: dateTimeFormat }}</td>
                                <td>{{news.editDeleteTime | date: dateTimeFormat}}</td>
                                <td>{{news.editDeleteBy}}</td>
                                <td>
                                    <label>
                                        <input type="checkbox" name="status" ng-model="news.available" />
                                        <span ng-show="news.available">&nbsp;Hiển thị</span>
                                        <span ng-show="!news.available">&nbsp;Ẩn</span>
                                    </label>
                                </td>
                                <td>
                                    {{news.order}}
                                </td>
                                <td>
                                    <a class="btn btn-xs btn-warning" title="Chỉnh sửa" ng-click="getNews($index)"><i class="fa fa-edit"></i></a>
                                    <a class="btn btn-xs btn-danger" title="Xóa" ng-click="deleteNews(news)"><i class="fa fa-times"></i></a>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>#</th>
                                <th>Tên bài viết</th>
                                <th>Ngày tạo</th>
                                <th>Ngày cập nhật</th>
                                <th>Người cập nhật</th>
                                <th>Tình trạng</th>
                                <th>Vị trí</th>
                                <th>Chỉnh sửa</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <div class="box-footer clearfix">
                    <div class="row">
                        <div class="col-md-6">
                            <a ui-sref="controlPanel.addNews({newsCategoryId: newsCategoryId })" class="btn btn-danger btn-flat">Thêm bài viết mới</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!--chinh sua khoa hoc-->
    <div class="editProject"></div>
    <div class="row" ng-show="currentProject">
        <div class="col-xs-12">
            <div class="box box-info">
                <div class="box-header">
                    <i class="fa fa-plus-circle"></i>
                    <h3 class="box-title">CHỈNH SỬA DỰ ÁN: <b>{{currentProject.name}}</b></h3>
                    <!-- tools box -->
                    <div class="pull-right box-tools">
                        <button class="btn btn-info btn-sm" data-widget="collapse" title="Rút gọn"><i class="fa fa-minus"></i></button>
                        <!--<button class="btn btn-info btn-sm" data-widget="remove" data-toggle="tooltip" title="Tắt"><i class="fa fa-times"></i></button>-->
                        <button class="btn btn-info btn-sm" ng-click="currentProject = null" title="Tắt"><i class="fa fa-times"></i></button>
                    </div><!-- /. tools -->
                </div>
                <div class="box-body">
                    <form id="editNewsForm" name="editNewsForm" method="post" novalidate>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <label for="name">Tên: </label>
                                            <input type="text" class="form-control" name="name" ng-model="currentProject.name" placeholder="Tên khóa học:" required />
                                            <div ng-messages="editNewsForm.name.$error"
                                                 ng-messages-include="Areas/Admin/Templates/Directives/ngMessage/message.html"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="order">Vị trí: </label>
                                            <input type="number" class="form-control" name="order" ng-model="currentProject.order" placeholder="Vị trí:" required min="1" />
                                            <div ng-messages="editNewsForm.order.$error"
                                                 ng-messages-include="Areas/Admin/Templates/Directives/ngMessage/message.html"></div>
                                        </div>
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label for="keyword">Keyword: </label>
                                    <textarea class="form-control" name="keyword" ng-model="currentProject.keyword" placeholder="Keywork (SEO):" required></textarea>
                                    <div ng-messages="editNewsForm.keyword.$error"
                                         ng-messages-include="Areas/Admin/Templates/Directives/ngMessage/message.html"></div>
                                </div>
                                <div class="form-group">
                                    <label for="description">Description: </label>
                                    <textarea class="form-control" name="description" ng-model="currentProject.description" placeholder="Description (SEO):" required></textarea>
                                    <div ng-messages="editNewsForm.description.$error"
                                         ng-messages-include="Areas/Admin/Templates/Directives/ngMessage/message.html"></div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-3">
                                        <label for="name">Hình đại diện trang chủ: </label>
                                        <img src="{{currentProject.homeBannerImageUrl}}" alt="" class="img-responsive" />
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <div>
                                                <button dropzone="dropzoneConfigHome" class="dropzone">
                                                    <span class="dz-message">Chọn ảnh đại diện (Trang chủ)<br /></span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label for="name">Hình đại diện trang chi tiết: </label>
                                        <img src="{{currentProject.subBannerImageUrl}}" alt="" class="img-responsive" />
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <div>
                                                <button dropzone="dropzoneConfigSub" class="dropzone">
                                                    <span class="dz-message">Chọn ảnh đại diện (Trang chi tiết)<br /></span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="bannerImageIntro">Nội dung intro trang chủ: </label>
                                    <textarea id="bannerImageIntro" required name="bannerImageIntro" ng-model="currentProject.bannerImageIntro" class="textarea" placeholder="Nội dung Intro của ảnh đại diện Trang chủ" style="width: 100%; height: 125px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="contentIntro">Nội dung intro trang chi tiết: </label>
                                    <textarea id="contentIntro" required name="contentIntro" ng-model="currentProject.contentIntro" class="textarea" placeholder="Nội dung Intro của trang chi tiết" style="width: 100%; height: 125px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label for="contentLeft">Nội dung chi tiết (trái): </label>
                                <textarea id="contentLeft" name="contentLeft" ng-model="currentProject.contentLeft" class="textarea" placeholder="Nội dung bên trái trang chi tiết (nếu bỏ trống phần này, phần nội dung bên phải sẽ hiển thị)" style="width: 100%; height: 125px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
                            </div>
                            <div class="col-md-6">
                                <label for="contentRight">Nội dung chi tiết (phải): </label>
                                <textarea id="contentRight" name="contentRight" ng-model="currentProject.contentRight" class="textarea" placeholder="Nội dung bên phải trang chi tiết" style="width: 100%; height: 125px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
                            </div>
                        </div>

                    </form>
                </div>
                <div class="box-footer clearfix">
                    <div class="row">
                        <div class="col-xs-12 col-md-6 pull-right">
                            <div class="col-xs-3 pull-right">
                                <button class="pull-right btn btn-danger" id="cancel" ng-click="currentProject = null">
                                    Hủy&nbsp;&nbsp;<i class="fa fa-times"></i>
                                </button>
                            </div>
                            <div class="col-xs-5 pull-right">
                                <button class="pull-right btn btn-success" id="addNews" ng-click="updateNews(currentProject)"
                                        ng-disabled="editNewsForm.name.$error.required
                                                    ||  editNewsForm.keyword.$error.required
                                                    ||  editNewsForm.description.$error.required
                                                    || editNewsForm.order.$error.required ||  editNewsForm.order.$error.min
                                    ">
                                    Cập nhật bài viết&nbsp;&nbsp;<i class="fa fa-cloud-upload"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>

<script type="text/javascript">
    //CKEditor & ckfinder Noi dung bannerImageIntro
    var editor1 = CKEDITOR.instances['bannerImageIntro'];
    if (editor1) { editor1.destroy(true); }
    CKEDITOR.replace('bannerImageIntro', {
        enterMode: CKEDITOR.ENTER_BR,
        customConfig: '/ckeditor/config.js'
    });

    //CKEditor & ckfinder Noi dung Intro Homepage
    var editor2 = CKEDITOR.instances['contentIntro'];
    if (editor2) { editor2.destroy(true); }
    CKEDITOR.replace('contentIntro', {
        enterMode: CKEDITOR.ENTER_BR,
        customConfig: '/ckeditor/config.js'
    });

    //CKEditor & ckfinder Noi dung course
    var editor3 = CKEDITOR.instances['contentLeft'];
    if (editor3) { editor3.destroy(true); }
    CKEDITOR.replace('contentLeft', {
        enterMode: CKEDITOR.ENTER_BR
    });

    var editor4 = CKEDITOR.instances['contentRight'];
    if (editor4) { editor4.destroy(true); }
    CKEDITOR.replace('contentRight', {
        enterMode: CKEDITOR.ENTER_BR
    });

    CKFinder.setupCKEditor(null, "/ckfinder/");

    //Toggle button
    var o = $.AdminLTE.options;
    if (o.enableBoxWidget) {
        $.AdminLTE.boxWidget.activate();
    }

    //checkbox
    $('input[type="checkbox"].minimal-red, input[type="radio"].minimal-red').iCheck({
        checkboxClass: 'icheckbox_minimal-red',
        radioClass: 'iradio_minimal-red'
    });

    //dropdzone
    $('button.dropzone').click(function (e) {
        e.preventDefault();
    });

</script>