<section class="content-header">
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
        <li><a href="#"><i class="fa fa-dashboard"></i> Khóa học/Học viên</a></li>
        <li class="active">Thêm người dùng</li>
    </ol>
</section>


<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="login-box" style="width: 100%; margin: 2% auto" ng-controller="accountController">
                <div class="login-logo">
                    <b>ĐĂNG KÝ</b>
                </div><!-- /.login-logo -->
                <div class="login-box-body">
                    <form name="registerForm" method="post" novalidate>
                        <div class="col-md-6">
                            <div class="form-group has-feedback">
                                <input type="text" class="form-control" placeholder="Tên đăng nhập" name="userName" ng-model="user.userName" required />
                                <span class="glyphicon glyphicon-user form-control-feedback"></span>
                                <div ng-messages="registerForm.userName.$error"
                                     ng-messages-include="Areas/Admin/Templates/Directives/ngMessage/message.html"></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group has-feedback">
                                <input type="text" class="form-control" placeholder="Email" name="email" ng-model="user.email" required />
                                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                                <div ng-messages="registerForm.email.$error"
                                     ng-messages-include="Areas/Admin/Templates/Directives/ngMessage/message.html"></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group has-feedback">
                                <input type="password" class="form-control" placeholder="Mật khẩu" name="password" ng-model="user.password" required />
                                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                                <div ng-messages="registerForm.password.$error"
                                     ng-messages-include="Areas/Admin/Templates/Directives/ngMessage/message.html"></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group has-feedback">
                                <input type="password" class="form-control" placeholder="Nhập lại mật khẩu" name="confirmPassword"
                                       ng-model="user.confirmPassword"
                                       compare-to="user.password"
                                       required />
                                <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
                                <div ng-messages="registerForm.confirmPassword.$error"
                                     ng-messages-multiple
                                     ng-messages-include="Areas/Admin/Templates/Directives/ngMessage/message.html"></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group has-feedback">
                                <input type="text" class="form-control" placeholder="Address" name="address" ng-model="user.address" />
                                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group has-feedback">
                                <input type="text" class="form-control" placeholder="Skype" name="skype" ng-model="user.skype" />
                                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group has-feedback">
                                <input type="text" class="form-control" placeholder="Yahoo" name="yahoo" ng-model="user.yahoo" />
                                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group has-feedback">
                                <input type="text" class="form-control" placeholder="Facebook" name="facebook" ng-model="user.facebook"/>
                                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="form-group has-feedback">
                                        <select name="roleName" ng-model="user.roleName" required>
                                            <option value="">-- Chọn nhóm người dùng</option>
                                            <option value="Admin">Admin</option>
                                            <option value="Users">Users</option>
                                        </select>
                                        <div ng-messages="registerForm.roleNam.$error"
                                             ng-messages-multiple
                                             ng-messages-include="Areas/Admin/Templates/Directives/ngMessage/message.html"></div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group has-feedback">
                                        <button dropzone="dropzoneConfigHome" class="dropzone">
                                            <span class="dz-message">Chọn ảnh đại diện<br /></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <button id="registerBtn" type="submit" class="btn btn-primary btn-block btn-flat"
                                    ng-disabled="registerForm.email.$invalid && registerForm.email.$pristine
                                         || registerForm.password.$error.required
                                         || registerForm.email.$error.required
                                         || registerForm.roleName.$error.required
                                         || registerForm.confirmPassword.$error.compareTo
                                         || clicked"
                                    ng-click="register(user)">
                                Tạo người dùng
                            </button>
                        </div>
                        <div class="col-md-6">
                            <a ui-sref="controlPanel.userList" class="btn btn-danger btn-block btn-flat" title="Hủy">Hủy</a>
                        </div>
                    </form>
                </div><!-- /.login-box-body -->
            </div>
        </div>
    </div>
</section>

