<section class="content-header">
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
        <li><a href="#"><i class="fa fa-dashboard"></i> Khóa học/Học viên</a></li>
        <li class="active">Thêm Khóa học</li>
    </ol>
</section>


<section class="content" ng-controller="courseController">
    <h3></h3>
    <!--them khoa hoc-->
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-info">
                <div class="box-header">
                    <i class="fa fa-plus-circle"></i>
                    <h3 class="box-title">THÊM KHÓA HỌC</h3>
                    <!-- tools box -->
                    <div class="pull-right box-tools">
                        <button class="btn btn-info btn-sm" data-widget="collapse" title="Rút gọn"><i class="fa fa-minus"></i></button>
                        <!--<button class="btn btn-info btn-sm" data-widget="remove" data-toggle="tooltip" title="Bỏ đi"><i class="fa fa-times"></i></button>-->
                    </div><!-- /. tools -->
                </div>
                <div class="box-body">
                    <form id="addCourseForm" name="addCourseForm" method="post" novalidate>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="name" ng-model="course.name" placeholder="Tên khóa học:" required/>
                                    <div ng-messages="addCourseForm.name.$error"
                                         ng-messages-include="Areas/Admin/Templates/Directives/ngMessage/message.html"></div>
                                </div>
                                <div class="form-group">
                                    <textarea class="form-control" name="keyword" ng-model="course.keyword" placeholder="Keywork (SEO):" required></textarea>
                                    <div ng-messages="addCourseForm.keyword.$error"
                                         ng-messages-include="Areas/Admin/Templates/Directives/ngMessage/message.html"></div>
                                </div>
                                <div class="form-group">
                                    <textarea class="form-control" name="description" ng-model="course.description" placeholder="Description (SEO):" required></textarea>
                                    <div ng-messages="addCourseForm.description.$error"
                                         ng-messages-include="Areas/Admin/Templates/Directives/ngMessage/message.html"></div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div>
                                                <button dropzone="dropzoneConfigHome" class="dropzone">
                                                    <span class="dz-message">Chọn ảnh đại diện (Trang chủ)<br /></span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div>
                                                <button dropzone="dropzoneConfigSub" class="dropzone">
                                                    <span class="dz-message">Chọn ảnh đại diện (Trang chi tiết)<br /></span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <textarea id="bannerImageIntro" required name="bannerImageIntro" ng-model="course.bannerImageIntro" class="textarea" placeholder="Nội dung Intro của ảnh đại diện Trang chủ" style="width: 100%; height: 125px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <textarea id="contentIntro" required name="contentIntro" ng-model="course.contentIntro" class="textarea" placeholder="Nội dung Intro của trang chi tiết" style="width: 100%; height: 125px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <textarea id="contentLeft" name="courseLeft" ng-model="course.contentLeft" class="textarea" placeholder="Nội dung bên trái trang chi tiết (nếu bỏ trống phần này, phần nội dung bên phải sẽ hiển thị)" style="width: 100%; height: 125px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
                            </div>
                            <div class="col-md-6">
                                <textarea id="contentRight" name="contentRight" ng-model="course.contentRight" class="textarea" placeholder="Nội dung bên phải trang chi tiết" style="width: 100%; height: 125px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
                            </div>
                        </div>

                    </form>
                </div>
                <div class="box-footer clearfix">
                    <div class="row">
                        <div class="col-xs-5 col-md-1 pull-right">
                            <a ui-sref="controlPanel.coursesList" class="pull-right btn btn-danger" id="cancelCourse">
                                Hủy&nbsp;<i class="fa fa-times"></i>
                            </a>
                        </div>
                        <div class="col-xs-12 col-md-2 pull-right">
                            <button class="pull-right btn btn-success" id="addCourse" ng-click="addCourse(course)"
                                    ng-disabled="addCourseForm.name.$error.required
                                                || addCourseForm.keyword.$error.required
                                                || addCourseForm.description.$error.required
                                    ">
                                Thêm khóa học&nbsp;<i class="fa fa-cloud-upload"></i>
                            </button>
                        </div>
                    </div>
                    
                   
                </div>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">
    //CKEditor & ckfinder Noi dung bannerImageIntro
    var editor1 = CKEDITOR.instances['bannerImageIntro'];
    if (editor1) { editor1.destroy(true); }
    CKEDITOR.replace('bannerImageIntro', {
        enterMode: CKEDITOR.ENTER_BR,
        customConfig: '/ckeditor/config.js'
    });

    //CKEditor & ckfinder Noi dung Intro Homepage
    var editor2 = CKEDITOR.instances['contentIntro'];
    if (editor2) { editor2.destroy(true); }
    CKEDITOR.replace('contentIntro', {
        enterMode: CKEDITOR.ENTER_BR,
        customConfig: '/ckeditor/config.js'
    });

    //CKEditor & ckfinder Noi dung course
    var editor3 = CKEDITOR.instances['contentLeft'];
    if (editor3) { editor3.destroy(true); }
    CKEDITOR.replace('contentLeft', {
        enterMode: CKEDITOR.ENTER_BR
    });

    var editor4 = CKEDITOR.instances['contentRight'];
    if (editor4) { editor4.destroy(true); }
    CKEDITOR.replace('contentRight', {
        enterMode: CKEDITOR.ENTER_BR
    });

    CKFinder.setupCKEditor(null, "/ckfinder/");

    //Toggle button
    var o = $.AdminLTE.options;
    if (o.enableBoxWidget) {
        $.AdminLTE.boxWidget.activate();
    }

    //dropdzone
    $('button.dropzone').click(function (e) {
        e.preventDefault();
    });

</script>