@{
    ViewBag.Title = "Giới Thiệu";
}
@section SEO{
    <meta name="keywords" content="@ViewBag.Keyword">
    <meta name="description" content="@ViewBag.Description">
    @Html.Raw(ViewBag.MetaData)
}


<div class="content">
    <div class="container_12">
        <div class="breadcrumb">
            <a href="/" title="Trang chủ">Trang chủ</a> / Giới thiệu
        </div>
        <div class="grid_12">
            <div class="blog">
                @*<img src="images/page4_img1.jpg" alt="" class="img_inner fleft">*@
                <div class="extra_wrapper">
                    <div class="text1">
                        <a href="#">Vivamus at magna non nuncer </a>
                    </div>
                    Deripiscing elin mollis eratttis neq cilisis, sit amettrecies erat rutrumsucilisis lla vel uivra a sodale felis, quisertylo. Malesuada nibh odio ut velit. Proin pharetra luctus diam, a scelerisque eros convallis accumsan.
                    <br/>
                    <img src="/Content/images/feat1.jpg" alt="img01" class="img-responsive">
                    @*<div class="alright"><a href="#" class="btn">More</a></div>*@
                </div>
                <div class="clear"></div>
                @*<table>
                        <tbody>
                            <tr>
                                <td>
                                    <time datetime="2014-01-01">
                                        <span class="fa fa-calendar"></span>
                                        January 20, 2014
                                    </time>
                                </td>
                                <td><a href="#"><div class="fa fa-user"></div> Admin</a></td>
                                <td><a href="#"><span class="fa fa-link"></span> Permalink</a></td>
                            </tr>
                            <tr>
                                <td><div class="fa fa-bookmark"></div> Uncategorized  </td>
                                <td><div class="fa fa-tag"></div> No tags</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td><div class="fa fa-comments"></div> No commentts   </td>
                                <td>
                                    <div class="fa fa-eye"></div>182
                                    <div class="fa fa-thumbs-up"></div>0
                                    <div class="fa fa-thumbs-down"></div>0
                                </td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>*@

            </div>
            @*<div class="blog">
                    <img src="images/page4_img2.jpg" alt="" class="img_inner fleft">
                    <div class="extra_wrapper">
                        <div class="text1"><a href="#">Divamus at magna non nunceu </a></div>Geripiscing elin mollis eratttis neq cilisis, sit amettrecies erat rutrumsucilisis lla vel uivra a sodale felis, quisertylo. Malesuada nibh odio ut velit. Proin pharetra luctus diam, a scelerisque eros convallis accumsa.
                        <div class="alright"><a href="#" class="btn">More</a></div>
                    </div>
                    <div class="clear"></div>
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    <time datetime="2014-01-01">
                                        <span class="fa fa-calendar"></span>
                                        January 21, 2014
                                    </time>
                                </td>
                                <td><a href="#"><div class="fa fa-user"></div> Admin</a></td>
                                <td><a href="#"><span class="fa fa-link"></span> Permalink</a></td>
                            </tr>
                            <tr>
                                <td><div class="fa fa-bookmark"></div> Uncategorized  </td>
                                <td><div class="fa fa-tag"></div> No tags</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td><div class="fa fa-comments"></div> No commentts   </td>
                                <td>
                                    <div class="fa fa-eye"></div>190
                                    <div class="fa fa-thumbs-up"></div>2              <div class="fa fa-thumbs-down"></div>0
                                </td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="blog">
                    <img src="images/page4_img3.jpg" alt="" class="img_inner fleft">
                    <div class="extra_wrapper">
                        <div class="text1"><a href="#">Geramus at magna non nuncere </a></div>Verpiscing elin mollis eratttis neq cilisis, sit amettrecies erat rutrumsucilisis lla vel uivra a sodale felis, quisertylo. Malesuada nibh odio ut velit. Proin pharetra luctus diam, a scelerisque eros convallis accumser.
                        <div class="alright"><a href="#" class="btn">More</a></div>
                    </div>
                    <div class="clear"></div>
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    <time datetime="2014-01-01">
                                        <span class="fa fa-calendar"></span>
                                        January 28, 2014
                                    </time>
                                </td>
                                <td><a href="#"><div class="fa fa-user"></div> Admin</a></td>
                                <td><a href="#"><span class="fa fa-link"></span> Permalink</a></td>
                            </tr>
                            <tr>
                                <td><div class="fa fa-bookmark"></div> Uncategorized  </td>
                                <td><div class="fa fa-tag"></div> No tags</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td><div class="fa fa-comments"></div> No commentts   </td>
                                <td>
                                    <div class="fa fa-eye"></div>130
                                    <div class="fa fa-thumbs-up"></div>18
                                    <div class="fa fa-thumbs-down"></div>0
                                </td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="clear"></div>*@
        </div>
        @*<div class="grid_3">
                <h4 class="head1">Categories</h4>
                <ul class="list mb0">
                    <li><a href="#">Herem ipsum dolor sit </a></li>
                    <li><a href="#">Komet,tetur adipiscingt</a></li>
                    <li><a href="#">In mollis eratttis neque </a></li>
                    <li><a href="#">Loacilisis, sit amet ultret</a></li>
                    <li><a href="#">Icies erat rutrums facilisis </a></li>
                    <li><a href="#">Kulla vel viverra auctore </a></li>
                    <li><a href="#">Nagna sodales feliuis </a></li>
                </ul>
                <h4>Archives</h4>
                <ul class="list">
                    <li><a href="#">October 2013</a></li>
                    <li><a href="#">November 2013</a></li>
                    <li><a href="#">December 2013</a></li>
                    <li><a href="#">January 2014</a></li>
                    <li><a href="#">February 2014</a></li>
                </ul>
            </div>*@
    </div>
</div>