@{
    ViewBag.Title = "Giới Thiệu";
}
@section SEO{
    <meta name="keywords" content="@ViewBag.Keyword">
    <meta name="description" content="@ViewBag.Description">
    @Html.Raw(ViewBag.MetaData)
}


<div class="content">
    <div class="container_12">
        <div class="breadcrumb">
            <a href="/" title="Trang chủ">Trang chủ</a> / Giới thiệu
        </div>
        <div class="grid_12">
            @Html.Raw(ViewBag.About)
        </div>
    </div>
</div>