<section class="content-header">
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
        <li class="active">Danh sách thông báo</li>
    </ol>
</section>


<section class="content" ng-controller="notificationController">
    <h3></h3>
    <!--danh sach THÔNG BÁO-->
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-danger">
                <div class="box-header">
                    <i class="fa fa-list"></i>
                    <h3 class="box-title">DANH SÁCH THÔNG BÁO CẦN DUYỆT</h3>
                    <div class="pull-right box-tools">
                        <button class="btn btn-danger btn-sm" data-widget="collapse" title="Rút gọn"><i class="fa fa-minus"></i></button>
                        <!--<button class="btn btn-info btn-sm" data-widget="remove" data-toggle="tooltip" title="Tắt"><i class="fa fa-times"></i></button>-->
                    </div>
                </div>
                <div class="box-body">
                    <table datatable="ng" id="notificationTable" class="table table-bordered table-hover"
                           dt-options="dtOptions" dt-column-defs="dtColumnDefs">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Danh mục</th>
                            <th>Tên</th>
                            <th>Người chỉnh sửa</th>
                            <th>Ngày</th>
                            <th>Thao tác</th>
                            <th>Phê duyệt</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="newsDrafts in notificationList.newsDrafts track by $index | orderBy:'createTime'">
                            <td>{{$index + 1}}</td>
                            <td>
                                <span ng-if="newsDrafts.newsId != null ">Tin tức/Sự kiện</span>
                                <span ng-if="newsDrafts.courseId != null">Khóa học</span>
                                <span ng-if="newsDrafts.galleryId != null">Thư viện</span>
                            </td>
                            <td>{{newsDrafts.name}}</td>
                            <td>{{newsDrafts.editDeleteBy}}</td>
                            <td>{{newsDrafts.createTime | date: dateTimeFormat }}</td>
                            <td>
                                <span ng-if="newsDrafts.draftType == 'Delete'" class="text-danger text-bold">Xóa</span>
                                <span ng-if="newsDrafts.draftType == 'Update'" class="text-warning text-bold">Sửa</span>
                                <span ng-if="newsDrafts.draftType == 'Add'" class="text-info text-bold">Thêm</span>
                            </td>
                            <td>
                                <a class="btn btn-xs btn-success" title="Phê duyệt" ng-click="acceptNotification(newsDrafts)"><i class="fa fa-check"></i></a>
                                <a class="btn btn-xs btn-warning" title="Chỉnh sửa" ng-click="getEditingNotification($index)"><i class="fa fa-edit"></i></a>
                                <a class="btn btn-xs btn-danger" title="Xóa" ng-click="ignoreNotification(newsDrafts)"><i class="fa fa-times"></i></a>
                            </td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <th>#</th>
                            <th>Loại</th>
                            <th>Tên</th>
                            <th>Người chỉnh sửa</th>
                            <th>Ngày</th>
                            <th>Thao tác</th>
                            <th>Phê duyệt</th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
                <div class="box-footer clearfix">
                    <div class="row">
                        <div class="col-md-6">
                            <a ui-sref="controlPanel.register" class="btn btn-danger btn-flat">Trở về trang chủ</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!--chinh sua NÔI DUNG THONG BAO-->
    <div class="editNotification"></div>
    <div class="row" ng-show="currentCheckingNotification">
        <div class="col-xs-12">
            <div class="box box-info">
                <div class="box-header">
                    <i class="fa fa-plus-circle"></i>
                    <h3 class="box-title" ng-if="currentCheckingNotification.courseId != null ">CHỈNH SỬA KHÓA HỌC: <b>{{currentCheckingNotification.name}}</b></h3>
                    <h3 class="box-title" ng-if="currentCheckingNotification.newsId != null" >CHỈNH SỬA TIN TỨC/ SỰ KIỆN: <b>{{currentCheckingNotification.name}}</b></h3>
                    <!-- tools box -->
                    <div class="pull-right box-tools">
                        <button class="btn btn-info btn-sm" data-widget="collapse" title="Rút gọn"><i class="fa fa-minus"></i></button>
                        <!--<button class="btn btn-info btn-sm" data-widget="remove" data-toggle="tooltip" title="Tắt"><i class="fa fa-times"></i></button>-->
                        <button class="btn btn-info btn-sm" ng-click="currentCheckingNotification = null" title="Tắt"><i class="fa fa-times"></i></button>
                        
                    </div><!-- /. tools -->
                </div>
                <div class="box-body">
                    <form id="currentCheckingNotificationForm" name="currentCheckingNotificationForm" method="post" novalidate>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="name" ng-model="currentCheckingNotification.name" placeholder="Tên khóa học:" />
                                </div>
                                <div class="form-group">
                                    <textarea class="form-control" name="keyword" ng-model="currentCheckingNotification.keyword" placeholder="Keywork (SEO):"></textarea>
                                </div>
                                <div class="form-group">
                                    <textarea class="form-control" name="description" ng-model="currentCheckingNotification.description" placeholder="Description (SEO):"></textarea>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-3">
                                        <img src="{{currentCheckingNotification.homeBannerImageUrl}}" alt="" class="img-responsive" />
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <div>
                                                <button dropzone="dropzoneConfigHome" class="dropzone">
                                                    <span class="dz-message">Chọn ảnh đại diện (Trang chủ)<br /></span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <img src="{{currentCheckingNotification.subBannerImageUrl}}" alt="" class="img-responsive" />
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <div>
                                                <button dropzone="dropzoneConfigSub" class="dropzone">
                                                    <span class="dz-message">Chọn ảnh đại diện (Trang chi tiết)<br /></span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <textarea id="bannerImageIntro" required name="bannerImageIntro" ng-model="currentCheckingNotification.bannerImageIntro" class="textarea" placeholder="Nội dung Intro của ảnh đại diện Trang chủ" style="width: 100%; height: 125px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <textarea id="contentIntro" required name="contentIntro" ng-model="currentCheckingNotification.contentIntro" class="textarea" placeholder="Nội dung Intro của trang chi tiết" style="width: 100%; height: 125px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <textarea id="contentLeft" name="contentLeft" ng-model="currentCheckingNotification.contentLeft" class="textarea" placeholder="Nội dung bên trái trang chi tiết (nếu bỏ trống phần này, phần nội dung bên phải sẽ hiển thị)" style="width: 100%; height: 125px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
                            </div>
                            <div class="col-md-6">
                                <textarea id="contentRight" name="contentRight" ng-model="currentCheckingNotification.contentRight" class="textarea" placeholder="Nội dung bên phải trang chi tiết" style="width: 100%; height: 125px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
                            </div>
                        </div>

                    </form>
                </div>
                <div class="box-footer clearfix">
                    <div class="row">
                        <div class="col-xs-12 col-md-6 pull-right">
                            <div class="col-xs-2 pull-right">
                                <button class="pull-right btn btn-danger" id="cancel" ng-click="currentCheckingNotification = null">
                                    Hủy&nbsp;&nbsp;<i class="fa fa-times"></i>
                                </button>
                            </div>
                            <div class="col-xs-1 pull-right">
                                <button ng-show="currentCheckingNotification.draftType == 'Add'" class="pull-right btn btn-success" id="addNotification" ng-click="updateNotification(currentCheckingNotification)"
                                        ng-disabled="">
                                    Thêm&nbsp;&nbsp;<i class="fa fa-cloud-upload"></i>
                                </button>
                            </div>
                            <div class="col-xs-1 pull-right">
                                <button ng-show="currentCheckingNotification.draftType == 'Update'" class="pull-right btn btn-success" id="updateNotification" ng-click="updateNotification(currentCheckingNotification)"
                                            ng-disabled="">
                                    Cập nhật&nbsp;&nbsp;<i class="fa fa-cloud-upload"></i>
                                </button>
                            </div>
                            <div class="col-xs-5 pull-right">
                                <button ng-show="currentCheckingNotification.draftType == 'Delete'" class="pull-right btn btn-danger" id="deleteNotification" ng-click="updateNotification(currentCheckingNotification)"
                                        ng-disabled="">
                                    Xóa&nbsp;&nbsp;<i class="fa fa-times"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>

<script type="text/javascript">
    //CKEditor & ckfinder Noi dung bannerImageIntro
    var editor1 = CKEDITOR.instances['bannerImageIntro'];
    if (editor1) { editor1.destroy(true); }
    CKEDITOR.replace('bannerImageIntro', {
        enterMode: CKEDITOR.ENTER_BR,
        customConfig: '/ckeditor/config.js'
    });

    //CKEditor & ckfinder Noi dung Intro Homepage
    var editor2 = CKEDITOR.instances['contentIntro'];
    if (editor2) { editor2.destroy(true); }
    CKEDITOR.replace('contentIntro', {
        enterMode: CKEDITOR.ENTER_BR,
        customConfig: '/ckeditor/config.js'
    });

    //CKEditor & ckfinder Noi dung course
    var editor3 = CKEDITOR.instances['contentLeft'];
    if (editor3) { editor3.destroy(true); }
    CKEDITOR.replace('contentLeft', {
        enterMode: CKEDITOR.ENTER_BR
    });

    var editor4 = CKEDITOR.instances['contentRight'];
    if (editor4) { editor4.destroy(true); }
    CKEDITOR.replace('contentRight', {
        enterMode: CKEDITOR.ENTER_BR
    });

    CKFinder.setupCKEditor(null, "/ckfinder/");

    //Toggle button
    var o = $.AdminLTE.options;
    if (o.enableBoxWidget) {
        $.AdminLTE.boxWidget.activate();
    }
    //dropdzone
    $('button.dropzone').click(function (e) {
        e.preventDefault();
    });

</script>