<section class="content-header">
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
        <li><a href="#"><i class="fa fa-dashboard"></i> Email</a></li>
        <li class="active">Email liên hệ</li>
    </ol>
</section>


<section class="content" ng-controller="contactEmailController">
    <h3></h3>
    <!--danh sach email lien he-->
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-danger">
                <div class="box-header">
                    <i class="fa fa-list"></i>
                    <h3 class="box-title text-uppercase">DANH SÁCH TIN NHẮN LIÊN HỆ</h3>
                    <!-- tools box -->
                    <div class="pull-right box-tools">
                        <button class="btn btn-danger btn-sm" data-widget="collapse" title="Rút gọn"><i class="fa fa-minus"></i></button>
                        <!--<button class="btn btn-danger btn-sm" data-widget="remove" data-toggle="tooltip" title="Bỏ đi"><i class="fa fa-times"></i></button>-->
                    </div><!-- /. tools -->
                </div>
                <div class="box-body">
                    <table datatable="ng" id="contactEmailTable" class="table table-bordered table-hover"
                           dt-options="dtOptions" dt-column-defs="dtColumnDefs">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Tên</th>
                                <th>Email</th>
                                <th>Điện thoại</th>
                                <th>Ngày gửi tin</th>
                                <th>Thao tác</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="email in contactEmailList track by $index | orderBy:'createdDateTime'">
                                <td>{{$index + 1}}</td>
                                <td>{{email.name}}</td>
                                <td>{{email.email}}</td>
                                <td>{{email.phone}}</td>
                                <td>{{email.createdDateTime | date: dateTimeFormat}}</td>
                                <td>
                                    <a class="btn btn-xs btn-info" title="Xem chi tiết" ng-click="getContactDetail($index)"><i class="fa fa-eye"></i></a>
                                    <a class="btn btn-xs btn-warning" title="Gửi Email" ng-click="getToEmail($index)"><i class="fa fa-edit"></i></a>
                                    <a class="btn btn-xs btn-danger" title="Xóa đăng ký" ng-click="deleteEmail(email)"><i class="fa fa-times"></i></a>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>#</th>
                                <th>Tên</th>
                                <th>Email</th>
                                <th>Điện thoại</th>
                                <th>Ngày gửi tin</th>
                                <th>Thao tác</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <div class="box-footer clearfix">
                    <div class="row">
                        <div class="col-md-6">
                            <!--<a ui-sref="controlPanel.register" class="btn btn-danger btn-flat">Thêm người dùng mới</a>-->
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!--gui email-->
    <div class="sendEmail"></div>
    <div class="row" ng-show="currentEmail">
        <div class="col-xs-12">
            <div class="box box-info">
                <div class="box-header">
                    <i class="fa fa-plus-circle"></i>
                    <h3 class="box-title text-uppercase">
                        Gửi email đến: <b>{{currentEmail.email}}</b>
                    </h3>
                    <!-- tools box -->
                    <div class="pull-right box-tools">
                        <button class="btn btn-info btn-sm" data-widget="collapse" title="Rút gọn"><i class="fa fa-minus"></i></button>
                        <!--<button class="btn btn-info btn-sm" data-widget="remove" data-toggle="tooltip" title="Tắt"><i class="fa fa-times"></i></button>-->
                        <button class="btn btn-info btn-sm" ng-click="currentEmail = null" title="Tắt"><i class="fa fa-times"></i></button>
                    </div><!-- /. tools -->
                </div>
                <div class="box-body">
                    <form id="emailForm" name="emailForm" method="post" novalidate>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="name">Tiêu đề: </label>
                                    <input type="text" class="form-control" name="title" ng-model="email.title" placeholder="Tiêu đề:" required />
                                    <div ng-messages="emailForm.title.$error"
                                         ng-messages-include="Areas/Admin/Templates/Directives/ngMessage/message.html"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="body">Nội dung email: </label>
                                    <textarea id="body" name="body" ng-model="email.body" class="textarea" placeholder="Nội dung email" style="width: 100%; height: 125px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="box-footer clearfix">
                    <div class="row">
                        <div class="col-xs-12 col-md-6 pull-right">
                            <div class="col-md-3 pull-right">
                                <button class="pull-right btn btn-success" id="addCourse" ng-click="sendEmail(email)"
                                        ng-disabled="emailForm.title.$error.required">
                                    Gửi Email&nbsp;&nbsp;<i class="fa fa-cloud-upload"></i>
                                </button>
                            </div>
                            <div class="col-xs-5 pull-right">
                                <button class="pull-right btn btn-danger" id="cancel" ng-click="currentEmail = null">
                                    Hủy&nbsp;&nbsp;<i class="fa fa-times"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!--xem email-->
    <div class="contactDetail"></div>
    <div class="row" ng-show="currentContactDetail">
        <div class="col-xs-12">
            <div class="box box-info">
                <div class="box-header">
                    <i class="fa fa-plus-circle"></i>
                    <h3 class="box-title text-uppercase">
                        Liên hệ từ: <b>{{currentContactDetail.email}}</b>
                    </h3>
                    <!-- tools box -->
                    <div class="pull-right box-tools">
                        <button class="btn btn-info btn-sm" data-widget="collapse" title="Rút gọn"><i class="fa fa-minus"></i></button>
                        <button class="btn btn-info btn-sm" ng-click="currentContactDetail = null" title="Bỏ đi"><i class="fa fa-times"></i></button>
                    </div><!-- /. tools -->
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-12">
                                <label>Họ tên: </label>
                                <span>{{currentContactDetail.name}}</span>
                            </div>
                            <div class="col-md-12">
                                <label>Email: </label>
                                <span>{{currentContactDetail.email}}</span>
                            </div>
                            <div class="col-md-12">
                                <label>Số điện thoại: </label>
                                <span>{{currentContactDetail.phone}}</span>
                            </div>
                            <div class="col-md-12">
                                <label>Chi tiết: </label>
                                <span>{{currentContactDetail.description}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-footer clearfix">
                    <div class="row">
                        <div class="col-xs-12 col-md-6 pull-right">
                            <div class="col-md-3 pull-right">
                                <button class="pull-right btn btn-success" id="addCourse" ng-click="sendEmail(email)"
                                        ng-disabled="emailForm.title.$error.required">
                                    Gửi Email&nbsp;&nbsp;<i class="fa fa-cloud-upload"></i>
                                </button>
                            </div>
                            <div class="col-xs-5 pull-right">
                                <button class="pull-right btn btn-danger" id="cancel" ng-click="currentEmail = null">
                                    Hủy&nbsp;&nbsp;<i class="fa fa-times"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <script type="text/javascript">
                //CKEditor & ckfinder Noi dung bannerImageIntro
                var editor1 = CKEDITOR.instances['body'];
                if (editor1) { editor1.destroy(true); }
                CKEDITOR.replace('body', {
                    enterMode: CKEDITOR.ENTER_BR
                });

                CKFinder.setupCKEditor(null, "/ckfinder/");

                //Toggle button
                var o = $.AdminLTE.options;
                if (o.enableBoxWidget) {
                    $.AdminLTE.boxWidget.activate();
                }

                //dropdzone
                $('button.dropzone').click(function (e) {
                    e.preventDefault();
                });

        </script>







</section>
