/*Main stylesheet for Backtop jQuery Plugin */
#backTop{
    width:35px;
    height:35px;
    padding:10px;
    border-radius:4px;
    text-indent:-9999px;
    cursor:pointer;
    z-index:999999999;
	display:none;
	box-sizing:content-box;
	-webkit-box-sizing:content-box;
}
#backTop.white{
     background:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAATRJREFUaIHt1rErqFEcxvHvF0k3Ed1bBoOiiCQlGVzFYmJhkY3NKJPRJKNMJjaThYHFYJCbUqLrzzkG70Chl3uOu/w+4/ue8/yeTr2dF0IIIYQQQgihjB/ASskBTQWzW9WTasZgSmmjxJCGEqFAu3qWUjpIKU0BbeoeYKF5WXWq18DSi2equ+o+5Q4ti1/qDbDw1kt1Rz0EGr+3Vj1d6i0w99EidUs9ouz392nd6h0wW3P9pnoMNBfsVFuPeg/MfHLfunoKtBToVFuf+gD8/uL+NfWc5/vi2w2of4GJf8xZVS+A1gydahtWH4GxTHnL6iXQninvQ6NV+ZHMuYvqFdCROfeV8ar8UKH8efUP8LNE+GRVvr9E+Auz1WXYlTVV3QZ6s4a+b5rCf7EhhBBCCCGE8N89AaYiKPNwdToxAAAAAElFTkSuQmCC') /*../backToTop/uparr-48-b.png*/ no-repeat center center rgba(255,255,255,0.8);
    border:1px solid #ccc;
}
#backTop.black{
     background:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDoAABSCAABFVgAADqXAAAXb9daH5AAAAFQSURBVHja7NixK0VxFMDx7+Ml6UVEvcFgUESSkgwYLEpY2GwMyiiT0WhmsMjbTBYGbzEYlJQSMflHDL6WaxSPe713dU6d6Z7fPedzb/feX7egkudoIucRgAAEIAABCEAAAhCAAPxfQBuwlmWDYobnLgFnSY8hYDtPd6ADuACOgRmgHdgHCnkAdAFV4ACoAAIbwBtwmHpPNc3sUW/V5U+O76kVtTmtnmkOX1bv1MUv6nbVE7XYSIBe9V6d+2b9jnqqtjQCoE99UGdrXLelnqut9QT0q4/q9A/Xb6pVta0egEH1SZ385UVYVy/V0l8CRtRndTylZ2hVvVI7/gIwlgw/mvIreEW9VjuzBEwkww+nPPxHLqk3ancWgKlk+IGMhv/IueRjWP5OfS2buYUkXzLewVaBV2AeOPqquBC/1wMQgAAEIAABCEAAAhCAAOQ13gcA+3bF8pg+ZEoAAAAASUVORK5CYII=') /*../backToTop/uparr-48-w.png*/ no-repeat center center rgba(0,0,0,0.8); 
    border:1px solid #ccc;
}
#backTop.red{
     background:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDoAABSCAABFVgAADqXAAAXb9daH5AAAAFQSURBVHja7NixK0VxFMDx7+Ml6UVEvcFgUESSkgwYLEpY2GwMyiiT0WhmsMjbTBYGbzEYlJQSMflHDL6WaxSPe713dU6d6Z7fPedzb/feX7egkudoIucRgAAEIAABCEAAAhCAAPxfQBuwlmWDYobnLgFnSY8hYDtPd6ADuACOgRmgHdgHCnkAdAFV4ACoAAIbwBtwmHpPNc3sUW/V5U+O76kVtTmtnmkOX1bv1MUv6nbVE7XYSIBe9V6d+2b9jnqqtjQCoE99UGdrXLelnqut9QT0q4/q9A/Xb6pVta0egEH1SZ385UVYVy/V0l8CRtRndTylZ2hVvVI7/gIwlgw/mvIreEW9VjuzBEwkww+nPPxHLqk3ancWgKlk+IGMhv/IueRjWP5OfS2buYUkXzLewVaBV2AeOPqquBC/1wMQgAAEIAABCEAAAhCAAOQ13gcA+3bF8pg+ZEoAAAAASUVORK5CYII=') /*../backToTop/uparr-48-w.png*/ no-repeat center center rgba(217,97,81,0.9); 
    border:1px solid #fff;
}
#backTop.green{
     background:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAATRJREFUaIHt1rErqFEcxvHvF0k3Ed1bBoOiiCQlGVzFYmJhkY3NKJPRJKNMJjaThYHFYJCbUqLrzzkG70Chl3uOu/w+4/ue8/yeTr2dF0IIIYQQQgihjB/ASskBTQWzW9WTasZgSmmjxJCGEqFAu3qWUjpIKU0BbeoeYKF5WXWq18DSi2equ+o+5Q4ti1/qDbDw1kt1Rz0EGr+3Vj1d6i0w99EidUs9ouz392nd6h0wW3P9pnoMNBfsVFuPeg/MfHLfunoKtBToVFuf+gD8/uL+NfWc5/vi2w2of4GJf8xZVS+A1gydahtWH4GxTHnL6iXQninvQ6NV+ZHMuYvqFdCROfeV8ar8UKH8efUP8LNE+GRVvr9E+Auz1WXYlTVV3QZ6s4a+b5rCf7EhhBBCCCGE8N89AaYiKPNwdToxAAAAAElFTkSuQmCC') /*../backToTop/uparr-48-b.png*/ no-repeat center center rgba(81,217,187,0.9); 
    border:1px solid #fff;
}

