@model System.Data.Entity.Infrastructure.DbQuery<IEnumerable<PenDesign.Core.Model.NewsMapping>>


@if (Model != null)
{
    <div class="grid_3">
        <h4><a href="/cong-trinh-thuc-te">Công Trình Thực Tế</a></h4>
        <ul class="list">
            @foreach (var news in Model)
            {
                foreach (var item in news)
                {
                    var detailUrl = "/cong-trinh-thuc-te/" + XString.ToAscii(item.Title) + "-" + item.NewsId;
                    <li><a href="@detailUrl">@item.Title</a></li>
                }
            }
            
        </ul>
        <div class="alright"><a href="/cong-trinh-thuc-te" class="btn">Xem thêm</a></div>
    </div>
}
