
<div class="footerSocial socials">
    <section id="facebook">
        <a href="https://www.facebook.com/anhlee19" target="_blank"><span id="fackbook" class="tooltip">f</span></a>
    </section>
    <section id="twitter">
        <a href="https://www.facebook.com/anhlee19" target="_blank"><span id="twitter-default" class="tooltip">t</span></a>
    </section>
    <section id="google">
        <a href="https://www.facebook.com/anhlee19" target="_blank"><span id="google-default" class="tooltip">g<span>+</span></span></a>
    </section>
    <section id="rss">
        <a href="https://www.facebook.com/anhlee19" target="_blank"><span id="rss-default" class="tooltip">d</span></a>
    </section>
</div>