
<div class="sidebarSocial socials">
    <section id="facebook">
        <a href="https://www.facebook.com/anhlee19" target="_blank">
            @*<span id="fackbook" class="tooltip" title="Link us on Facebook">f</span>*@
            <img src="~/Content/icons/fb.png" title="facebook PenPeDesign" />
        </a>
    </section>
    <section id="twitter">
        <a href="https://www.facebook.com/anhlee19" target="_blank">
            @*<span id="twitter-default" class="tooltip" title="Follow us on Twitter">t</span>*@
            <img src="~/Content/icons/twitter.png" title="twitter PenPeDesign" />
        </a>
    </section>
    <section id="google">
        <a href="https://www.facebook.com/anhlee19" target="_blank">
            @*<span id="google-default" class="tooltip" title="Follow us on Google Plus">g<span>+</span></span>*@
            <img src="~/Content/icons/googlePlus.png" title="google plus PenPeDesign" />
        </a>
    </section>
    <section id="google">
        <a href="https://www.facebook.com/anhlee19" target="_blank">
            @*<span id="google-default" class="tooltip" title="Follow us on Google Plus">Y<span></span></span>*@
            <img src="~/Content/icons/youtube.png" title="youtube PenPeDesign" />
        </a>
    </section>
</div>