
<div class="sidebarSocial socials">
    @if (Model.FacebookSocial != null && Model.FacebookSocial != "")
    {
        <section id="facebook">
            <a href="@Model.FacebookSocial" target="_blank">
                @*<span id="fackbook" class="tooltip" title="Link us on Facebook">f</span>*@
                <img src="~/Content/icons/fb.png" title="facebook PenPeDesign" />
            </a>
        </section>
    }

    @if (Model.TwitterSocial != null && Model.TwitterSocial != "")
    {
        <section id="twitter">
            <a href="@Model.TwitterSocial" target="_blank">
                @*<span id="twitter-default" class="tooltip" title="Follow us on Twitter">t</span>*@
                <img src="~/Content/icons/twitter.png" title="twitter PenPeDesign" />
            </a>
        </section>
    }
    @if (Model.GoogleSocial != null && Model.GoogleSocial != "")
    {
        <section id="google">
            <a href="@Model.GoogleSocial" target="_blank">
                @*<span id="google-default" class="tooltip" title="Follow us on Google Plus">g<span>+</span></span>*@
                <img src="~/Content/icons/googlePlus.png" title="google plus PenPeDesign" />
            </a>
        </section>
    }

    @if (Model.Youtube != null && Model.Youtube != "")
    {
        <section id="google">
            <a href="@Model.Youtube" target="_blank">
                @*<span id="google-default" class="tooltip" title="Follow us on Google Plus">Y<span></span></span>*@
                <img src="~/Content/icons/youtube.png" title="youtube PenPeDesign" />
            </a>
        </section>
    }
</div>