<section class="content-header">
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
        <li><a href="#"><i class="fa fa-dashboard"></i> Dự án</a></li>
        <li class="active">Danh sách Dự án</li>
    </ol>
</section>


<section class="content">
    <h3></h3>
    <!--danh sach tin tuc-->
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-danger">
                <div class="box-header">
                    <i class="fa fa-list"></i>
                    <h3 class="box-title text-uppercase">DANH SÁCH Dự án</h3>
                    <!-- tools box -->
                    <div class="pull-right box-tools">
                        <button class="btn btn-danger btn-sm" data-widget="collapse" title="Rút gọn"><i class="fa fa-minus"></i></button>
                        <!--<button class="btn btn-danger btn-sm" data-widget="remove" data-toggle="tooltip" title="Bỏ đi"><i class="fa fa-times"></i></button>-->
                    </div><!-- /. tools -->
                </div>
                <div class="box-body">
                    <table datatable="ng" id="bannerTable" class="table table-bordered table-hover"
                           dt-options="dtOptions" dt-column-defs="dtColumnDefs">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Tên</th>
                                <th>Thứ tự</th>
                                <!--<th>Ngôn ngữ khác</th>-->
                                <th>Người cập nhật</th>
                                <th>Hiển thị</th>
                                <th>Thao tác</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="project in allProjects track by $index | orderBy:'news.newses.zOrder'" ng-init="parentIndex = $index">
                                <td>{{$index + 1}}</td>
                                <td>{{project.projects.name}}</td>
                                <td>
                                    <span class="hide">{{project.projects.zOrder}}</span>
                                    <input type="number" ng-model="project.projects.zOrder" class="form-control max-width-60"
                                           ng-readonly="orderReadonlyIndex != parentIndex || orderReadonlyIndex == -1"
                                           min="1" maxlength="3" />
                                    <a class="btn btn-warning btn-xs"
                                       ng-show="orderReadonlyIndex != parentIndex"
                                       ng-click="editZorder($index)">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                    <a class="btn btn-success btn-xs"
                                       ng-show="orderReadonlyIndex == parentIndex"
                                       ng-click="updateZorder($index)">
                                        <i class="fa fa-check-square-o"></i>
                                    </a>
                                </td>
                                <!--<td>
                                    <a ng-repeat="newsMappings in project.projects.news[0].newsMappings"
                                       ng-click="getProject(parentIndex, newsMappings.languageId)" style="margin-right: 10px;"
                                       ng-if="newsMappings.languageId != 129"
                                       title="Click để chỉnh sửa nội dung cho ngôn ngữ này">
                                        <span ng-if="newsMappings.languageId == 129">
                                            <img src="/Areas/Admin/Content/Images/icons/flags/VietNam.png" />
                                        </span>
                                        <span ng-if="newsMappings.languageId == 29">
                                            <img src="/Areas/Admin/Content/Images/icons/flags/usa.png" />
                                        </span>
                                    </a>&nbsp;
                                    <span ng-if="project.projects.news[0].newsMappings.length <= 1">Không có</span>
                                </td>-->
                                <td>{{project.editedUser}}</td>
                                <td>
                                    <label>
                                        <input type="checkbox" name="status" ng-model="project.projects.status" ng-change="updateZorder($index)" />
                                        <span ng-show="project.projects.status">&nbsp;Hiển thị</span>
                                        <span ng-show="!project.projects.status">&nbsp;Ẩn</span>
                                    </label>
                                </td>
                                <td>
                                    <a class="btn btn-xs btn-warning" title="Sửa" ng-click="getProject(parentIndex, defaultLanguageId)"><i class="fa fa-edit"></i></a>
                                    <a class="btn btn-xs btn-danger" title="Xóa" ng-click="deleteProject(parentIndex, project.projects)"><i class="fa fa-times"></i></a>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>#</th>
                                <th>Tên</th>
                                <th>Thứ tự</th>
                                <!--<th>Ngôn ngữ</th>-->
                                <th>Người cập nhật</th>
                                <th>Hiển thị</th>
                                <th>Thao tác</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <div class="box-footer clearfix">
                    <div class="row">
                        <div class="col-md-6">
                            <a ui-sref="controlPanel.addProject" class="btn btn-danger btn-flat">Thêm bài viết mới</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!--chinh sua khoa hoc--><div class="clearfix"></div>
    <div class="currentProjectLanguage"></div>
    <div class="row" ng-show="currentProjectLanguage">
        <div class="col-xs-12">
            <div class="box box-info">
                <div class="box-header">
                    <i class="fa fa-plus-circle"></i>
                    <h3 class="box-title">
                        CHỈNH SỬA DỰ ÁN: <b>{{currentProjectLanguage.news[0].currentNewsMappings.title}}</b>
                        <span ng-if="currentProjectLanguage.news[0].currentNewsMappings.languageId == 129">(Tiếng Việt - ngôn ngữ mặc định)</span>
                        <span ng-if="currentProjectLanguage.news[0].currentNewsMappings.languageId == 29">(English)</span>
                    </h3>
                    <!-- tools box -->
                    <div class="pull-right box-tools">
                        <button class="btn btn-info btn-sm" data-widget="collapse" title="Rút gọn"><i class="fa fa-minus"></i></button>
                        <button class="btn btn-info btn-sm" ng-click="currentProjectLanguage = null" title="Tắt"><i class="fa fa-times"></i></button>
                    </div><!-- /. tools -->
                </div>

                <div class="box-body">
                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#tab_1" data-toggle="tab" aria-expanded="true">Nội dung</a></li>
                            <li class=""><a href="#tab_2" data-toggle="tab" aria-expanded="false">Hình ảnh</a></li>
                            <li class="pull-right"><a href="#" class="text-muted"><i class="fa fa-gear"></i></a></li>
                        </ul>

                        <form id="editProjectForm" name="editProjectForm" method="post" novalidate>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab_1">
                                    <div class="row">
                                        <div class="col-md-12">

                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label for="name">Tên: </label>
                                                    <input type="text" class="form-control" name="title" ng-model="currentProjectLanguage.news[0].currentNewsMappings.title" placeholder="Tên dự án:" required />
                                                    <div ng-messages="editProjectForm.title.$error"
                                                         ng-messages-include="Areas/Admin/Templates/Directives/ngMessage/message.html"></div>
                                                </div>
                                            </div>

                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label for="keyword">Nội dung Intro: </label>
                                                    <textarea class="form-control" name="intro" ng-model="currentProjectLanguage.news[0].currentNewsMappings.intro" placeholder="Nội dung Intro:"></textarea>
                                                </div>
                                            </div>

                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label for="keyword">Keyword (SEO): </label>
                                                    <textarea class="form-control" name="keyword" ng-model="currentProjectLanguage.news[0].currentNewsMappings.keyword" placeholder="Keywork (SEO):"></textarea>
                                                    <div ng-messages="editProjectForm.keyword.$error"
                                                         ng-messages-include="Areas/Admin/Templates/Directives/ngMessage/message.html"></div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label for="description">Description (SEO): </label>
                                                    <textarea class="form-control" name="description" ng-model="currentProjectLanguage.news[0].currentNewsMappings.description" placeholder="Description (SEO):"></textarea>
                                                    <div ng-messages="editProjectForm.description.$error"
                                                         ng-messages-include="Areas/Admin/Templates/Directives/ngMessage/message.html"></div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label for="description">MetaData (SEO): </label>
                                                    <textarea class="form-control" name="metaData" ng-model="currentProjectLanguage.news[0].currentNewsMappings.metaData" placeholder="MetaData (SEO) - (Chỉ thay đổi nếu bạn biết chắc chắn mình đang làm gì) : "></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label for="detail">Nội dung chi tiết: </label>
                                                    <textarea id="detail" required name="detail" ng-model="currentProjectLanguage.news[0].currentNewsMappings.detail" class="textarea" placeholder="Nội dung chi tiết" style="width: 100%; height: 125px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane" id="tab_2">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div id="sortable-container">
                                                <div class="sortable-row" as-sortable="sortableOptions" ng-model="currentProjectLanguage.projectImages">
                                                    <div class="col-md-4 text-center" style="margin-bottom: 20px;" ng-repeat="projectImage in currentProjectLanguage.projectImages | orderBy:'zOrder'" as-sortable-item>
                                                        <div as-sortable-item-handle>
                                                            <!--<img upload-file-edit-in-place ng-src="{{projectImage.resourceUrl}}" alt="" class="img-responsive display-inline-block"/>-->
                                                            <div class="col-md-12 img-position">
                                                                Ảnh {{$index + 1}} <span ng-if="$first">(Hình đại diện)</span>
                                                            </div>

                                                            <upload-file-edit-in-place project-image-index="$index" value="projectImage.resourceUrl" dropzone-image="dropzoneProjectImage"></upload-file-edit-in-place>
                                                            <div class="col-md-12">
                                                                <edit-in-place description="projectImage.currentProjectImageMappings.description"
                                                                               name="projectImage.currentProjectImageMappings.name"
                                                                               current-project-language="currentProjectLanguage"
                                                                               current-editing-language-index="currentEditingLanguageIndex"
                                                                               project-image-index="$index">
                                                                    <div class="form-group text-center">
                                                                        <a class="btn btn-danger btn-md deleteImage" ng-click="deleteImage(projectImage)" title="Hủy">Xóa ảnh</a>        
                                                                    </div>
                                                                </edit-in-place>
                                                            </div>
                                                        </div>
                                                        <hr />
                                                    </div>
                                                    <div class="col-md-4 text-center">
                                                        <div class="col-md-12 img-position">
                                                            Thêm ảnh
                                                        </div>
                                                        <div class="row form-group">
                                                            <div class="col-md-12 text-center">
                                                                <input type="text" ng-model="addingProjectImage.name" placeholder="Nhập tên ảnh" class="form-control"/> <br/>
                                                                <input type="description" ng-model="addingProjectImage.description" placeholder="Nhập nội dung ảnh" class="form-control" style="margin-bottom: 20px;"/>
                                                                <button dropzone="dropzoneAddProjectImage" class="dropzone">
                                                                    <span class="dz-message">Thêm ảnh Dự án<br /></span>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div><!-- /.tab-content -->
                        </form>

                    </div>

                </div>
                <div class="box-footer clearfix">
                    <div class="row">
                        <div class="col-xs-12 col-md-6 pull-right">
                            <div class="col-xs-3 pull-right">
                                <button class="pull-right btn btn-danger" id="cancel" ng-click="currentProjectLanguage = null">
                                    Hủy&nbsp;&nbsp;<i class="fa fa-times"></i>
                                </button>
                            </div>
                            <div class="col-xs-5 pull-right">
                                <button class="pull-right btn btn-success" id="updateProject" ng-click="updateProjectLanguage(currentProjectLanguage)"
                                        ng-disabled="editProjectForm.name.$error.required">
                                    Cập nhật bài viết&nbsp;&nbsp;<i class="fa fa-cloud-upload"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>

<script type="text/javascript">
    //CKEditor & ckfinder Noi dung bannerImageIntro
    var editor1 = CKEDITOR.instances['detail'];
    if (editor1) { editor1.destroy(true); }
    CKEDITOR.replace('detail', {
        enterMode: CKEDITOR.ENTER_BR,
        customConfig: '/ckeditor/config.js'
    });
    CKFinder.setupCKEditor(null, "/ckfinder/");

    //Toggle button
    var o = $.AdminLTE.options;
    if (o.enableBoxWidget) {
        $.AdminLTE.boxWidget.activate();
    }

    //checkbox
    $('input[type="checkbox"].minimal-red, input[type="radio"].minimal-red').iCheck({
        checkboxClass: 'icheckbox_minimal-red',
        radioClass: 'iradio_minimal-red'
    });

    //dropdzone
    $('button.dropzone').click(function (e) {
        e.preventDefault();
    });

</script>