
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@section sectionHeader{
    <base href="/">
    @*<link href="~/Content/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Areas/Admin/Scripts/jquery/jqueryPlugin/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css" rel="stylesheet" />
    <link href="~/Areas/Admin/Content/skins/_all-skins.css" rel="stylesheet" />

    <link href="~/Areas/Admin/Scripts/jquery/jqueryPlugin/iCheck/all.css" rel="stylesheet" />
    <link href="~/Scripts/dropzone/basic.css" rel="stylesheet" />
    <link href="~/Scripts/dropzone/dropzone.min.css" rel="stylesheet" />
    <link href="~/Areas/Admin/Content/metroUI/metro-icons.css" rel="stylesheet"/>*@

    @Styles.Render("~/bundles/AdminAppIndexCss")
}

@section sectionFooter{
    <!--jquery plugin-->
    @*<script src="~/Areas/Admin/Scripts/jquery/jqueryPlugin/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
    <script src="~/Areas/Admin/Scripts/jquery/jqueryPlugin/fastclick/fastclick.min.js"></script>
    <script src="~/Areas/Admin/Scripts/jquery/jqueryPlugin/slimScroll/jquery.slimscroll.min.js"></script>
    <script src="~/Areas/Admin/Scripts/jquery/jqueryPlugin/daterangepicker/daterangepicker.js"></script>*@


    <script src="~/ckeditor/ckeditor.js"></script>
    <script src="~/ckfinder/ckfinder.js"></script>

    @*<script src="~/Scripts/dropzone/dropzone.min.js"></script>*@
    <!--LTE scripts-->
    <script>
        //$.widget.bridge('uibutton', $.ui.button);
    </script>
    @*<script src="~/Areas/Admin/Scripts/LTEScripts/app.js"></script>
    <script src="~/Areas/Admin/Scripts/LTEScripts/dashboard.js"></script>
    <script src="~/Areas/Admin/Scripts/LTEScripts/demo.js"></script>*@


    @Scripts.Render("~/bundles/AdminAppIndexJs")
}

<div>
    <div class="modalContentOverlay"
         ng-class="{'show': showModal,
                    'hide': !showModal}">
        <div class="modalContentWrapper">
            <span class="mif-spinner4 mif-ani-spin mif-4x modalContentOverlayIcon"></span>
            <span id="closeModal" class="mif-cross mif-2x CloseContentOverlayIcon" ng-click="showModal=false"></span>
        </div>
    </div>
    <!--<ng-view></ng-view>-->
    <div ui-view class="slide"></div>
</div>



