<section class="content-header" ng-controller="videoController">
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
        <li><a href="#"><i class="fa fa-dashboard"></i> Video</a></li>
        <li class="active">Thêm Video mới</li>
    </ol>
</section>


<section class="content" ng-controller="videoController">
    <h3></h3>
    <!--them bai viet-->
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-info">
                <div class="box-header">
                    <i class="fa fa-plus-circle"></i>
                    <h3 class="box-title text-uppercase">THÊM BÀI VIẾT {{categoryName}}</h3>
                    <!-- tools box -->
                    <div class="pull-right box-tools">
                        <button class="btn btn-info btn-sm" data-widget="collapse" title="Rút gọn"><i class="fa fa-minus"></i></button>
                        <!--<button class="btn btn-info btn-sm" data-widget="remove" data-toggle="tooltip" title="Bỏ đi"><i class="fa fa-times"></i></button>-->
                    </div><!-- /. tools -->
                </div>
                <div class="box-body">
                    <form id="editVideoForm" name="editVideoForm" method="post" novalidate>
                        <div class="row">
                            <div class="col-md-12">

                                <div class="form-group">
                                    <label for="name">Tên: </label>
                                    <input type="text" class="form-control" name="name" ng-model="video.name" placeholder="Tên Video:" required />
                                    <div ng-messages="editVideoForm.name.$error"
                                         ng-messages-include="Areas/Admin/Templates/Directives/ngMessage/message.html"></div>
                                </div>

                                <div class="form-group">
                                    <label for="title">Nội dung: </label>
                                    <input type="text" class="form-control" name="description" ng-model="video.description" placeholder="Tên Video:" required />
                                    <div ng-messages="editVideoForm.description.$error"
                                         ng-messages-include="Areas/Admin/Templates/Directives/ngMessage/message.html"></div>
                                </div>

                                <div class="form-group">
                                    <label for="title">Youtube Video Id: </label>
                                    <input type="text" class="form-control" name="resourceUrl" ng-model="video.resourceUrl" placeholder="Youtube Video Id:" required />
                                    <div ng-messages="editVideoForm.resourceUrl.$error"
                                         ng-messages-include="Areas/Admin/Templates/Directives/ngMessage/message.html"></div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="row form-group">
                                    <div class="col-md-6">
                                        <label for="name">&nbsp;</label>
                                        <div class="form-group">
                                            <div>
                                                <button dropzone="dropzoneConfigHome" class="dropzone">
                                                    <span class="dz-message">Chọn ảnh đại diện Video<br /></span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="embed-responsive embed-responsive-16by9">
                                            <youtube-video class="embed-responsive-item" video-id="video.resourceUrl"></youtube-video>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
                <div class="box-footer clearfix">
                    <div class="row">
                        <div class="col-xs-5 col-md-1 pull-right">
                            <a ui-sref="controlPanel.videoList" class="pull-right btn btn-danger" id="cancelNews">
                                Hủy&nbsp;<i class="fa fa-times"></i>
                            </a>
                        </div>
                        <div class="col-xs-12 col-md-2 pull-right">
                            <button class="pull-right btn btn-success" id="addVideo" ng-click="addNewVideo(video)"
                                    ng-disabled="addNewsForm.name.$error.required
                                                || addNewsForm.keyword.$error.required
                                                || addNewsForm.description.$error.required
                                    ">
                                Thêm Video&nbsp;<i class="fa fa-cloud-upload"></i>
                            </button>
                        </div>
                        <div class="hide">
                            <button id="uploadBanner"></button>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">
  

    //Toggle button
    var o = $.AdminLTE.options;
    if (o.enableBoxWidget) {
        $.AdminLTE.boxWidget.activate();
    }

    //dropdzone
    $('button.dropzone').click(function (e) {
        e.preventDefault();
    });

</script>