@{
    ViewBag.Title = "Contact";
}

@section CssHeader{
    <link rel="stylesheet" href="/Content/css/form.css">
}

@section ScriptsFooter{
    <script src="~/Scripts/PenDesign/TMForm.js"></script>
}
<div class="content">
    <div class="container_12">
        <div class="grid_12">
            @*<h2>Liên Hệ</h2>*@
            <div class="map">
                <figure class=" ">
                    <iframe src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Brooklyn,+New+York,+NY,+United+States&amp;aq=0&amp;sll=37.0625,-95.677068&amp;sspn=61.282355,146.513672&amp;ie=UTF8&amp;hq=&amp;hnear=Brooklyn,+Kings,+New+York&amp;ll=40.649974,-73.950005&amp;spn=0.01628,0.025663&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe>
                </figure>

            </div>
        </div>
        <div class="clear"></div>
        <div class="grid_5">
            <h3 class="head1">Find Us</h3>
            <p>You can always get 24/7 support for all <span class="col1"><a href="#" rel="nofollow">premium website templates</a></span> from <br>TemplateMonster. Free themes go without it. </p>
            <p><span class="col1"><a href="#" rel="nofollow">TemplateTuning</a></span> will help you with any questions regarding customization of the chosen themes.</p>
            <p>
                The Company Name Inc. <br>
                8901 Marmora Road, <br>
                Glasgow, D04 89GR.
            </p>
            Freephone:+1 800 559 6580 <br>
            Telephone:+1 800 603 6035<br>
            FAX:+1 800 889 9898<br>
            E-mail: <a href="#" class="col1">mail@thanhit.net</a>
        </div>
        <div class="grid_7">
            <h3 class="head1">Liên Hệ</h3>
            <form id="form">

                <div class="success_wrapper">
                    <div class="success-message">Contact form submitted</div>
                </div>
                <label class="name">
                    <input type="text" placeholder="Name:"/>
                    <span class="empty-message">*This field is required.</span>
                    <span class="error-message">*This is not a valid name.</span>
                </label>

                <label class="email">
                    <input type="text" placeholder="E-mail:"/>
                    <span class="empty-message">*This field is required.</span>
                    <span class="error-message">*This is not a valid email.</span>
                </label>
                <label class="phone">
                    <input type="text" placeholder="Phone:"/>
                    <span class="empty-message">*This field is required.</span>
                    <span class="error-message">*This is not a valid phone.</span>
                </label>
                <label class="message">
                    <textarea placeholder="Message:"></textarea>
                    <span class="empty-message">*This field is required.</span>
                    <span class="error-message">*The message is too short.</span>
                </label>
                <div>
                    <div class="clear"></div>
                    <div class="btns">
                        <a href="#" data-type="reset" class="btn">Clear</a>
                        <a href="#" data-type="submit" class="btn">Send</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>