@{
    ViewBag.Title = "Video";
}

@section ScriptsFooter{

    @*<link href="~/Content/magnificPopup/magnific-popup.css" rel="stylesheet" />
        <script src="~/Content/magnificPopup/jquery.magnific-popup.js"></script>
        <script>
            $('.popup-youtube, .popup-vimeo, .popup-gmaps').magnificPopup({
                disableOn: 700,
                type: 'iframe',
                mainClass: 'mfp-fade',
                removalDelay: 160,
                preloader: false,
                fixedContentPos: false
            });
        </script>*@
    <link href="~/Content/colorbox/colorbox.css" rel="stylesheet"/>
    <script src="~/Content/colorbox/jquery.colorbox-min.js"></script>
    <script>
        $(".video.group1").colorbox({
            rel: 'group1'
        });
        $(".video.group2").colorbox({
            rel: 'group2'
        });

        var videoList = $('.video')
        $.each(videoList, function(key,value) {
            console.log("key:",key, "vaulue:",value);
        })
    </script>
}

<div class="content">
    <div class="container_12">
        <div class="grid_12">
            <h2>Video</h2>
        </div>
        <div class="clear"></div>
        <div class="gallery">
            <div class="grid_4">
                @*<a class="popup-youtube gal video group1" href="https://www.youtube.com/watch?v=0UL1qogQyEQ">
                    <img src="/Content/images/page3_img1.jpg" class="img-responsive" alt="Video 1"/>
                </a>*@
                <a class="popup-youtube gal video group1" href="~/Content/images/big1.jpg" title="Me and my grandfather on the Ohoopee.">
                    <img src="/Content/images/page3_img1.jpg" class="img-responsive" alt="Video 1"/>
                </a>
                <a class="video group1 hidden" href="~/Content/images/big2.jpg" title="Me and my grandfather on the Ohoopee."></a>
                <a class="video group1 hidden" href="~/Content/images/big3.jpg" title="Me and my grandfather on the Ohoopee."></a>
                <a class="video group1 hidden" href="~/Content/images/big4.jpg" title="Me and my grandfather on the Ohoopee."></a>
            </div>
            <div class="grid_4">
                @*<a class="popup-youtube gal video group1" href="https://www.youtube.com/watch?v=0UL1qogQyEQ">
                <img src="/Content/images/page3_img1.jpg" class="img-responsive" alt="Video 1"/>
            </a>*@
                <a class="popup-youtube gal video group2" href="~/Content/images/big5.jpg" title="Me and my grandfather on the Ohoopee.">
                    <img src="/Content/images/page3_img1.jpg" class="img-responsive" alt="Video 1" />
                </a>
                <a class="video group2 hidden" href="~/Content/images/big6.jpg" title="Me and my grandfather on the Ohoopee."></a>
                <a class="video group2 hidden" href="~/Content/images/feat10.jpg" title="Me and my grandfather on the Ohoopee."></a>
                <a class="video group2 hidden" href="~/Content/images/feat11.jpg" title="Me and my grandfather on the Ohoopee."></a>
            </div>
            @*<div class="grid_4">
                <a class="popup-youtube gal video" href="https://www.youtube.com/watch?v=0UL1qogQyEQ">
                    <img src="/Content/images/page3_img1.jpg" class="img-responsive" alt="Video 1" />
                </a>
            </div>
            <div class="grid_4">
                <a href="https://www.youtube.com/watch?v=0UL1qogQyEQ" class="popup-youtube gal video">
                    <img src="/Content/images/page3_img2.jpg" class="img-responsive" alt="Video 2">
                </a>
            </div>
            <div class="grid_4"><a href="https://www.youtube.com/watch?v=0UL1qogQyEQ" class="popup-youtube gal video"><img src="/Content/images/page3_img3.jpg" alt="Video 2"></a></div>
            <div class="clear"></div>
            <div class="grid_4"><a href="https://www.youtube.com/watch?v=0UL1qogQyEQ" class="popup-youtube gal video"><img src="/Content/images/page3_img4.jpg" alt="Video 2"></a></div>
            <div class="grid_4"><a href="https://www.youtube.com/watch?v=0UL1qogQyEQ" class="popup-youtube gal video"><img src="/Content/images/page3_img5.jpg" alt="Video 2"></a></div>
            <div class="grid_4"><a href="https://www.youtube.com/watch?v=0UL1qogQyEQ" class="popup-youtube gal video"><img src="/Content/images/page3_img6.jpg" alt="Video 2"></a></div>*@
        </div>
    </div>
</div>