<section class="content-header" ng-controller="galleryController">
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
        <li><a href="#"><i class="fa fa-dashboard"></i> {{categoryName}}</a></li>
        <li class="active">Thêm bài viết {{categoryName}}</li>
    </ol>
</section>


<section class="content" ng-controller="galleryController">
    <h3></h3>
    <!--them bai viet-->
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-info">
                <div class="box-header">
                    <i class="fa fa-plus-circle"></i>
                    <h3 class="box-title text-uppercase">THÊM BÀI VIẾT {{categoryName}}</h3>
                    <!-- tools box -->
                    <div class="pull-right box-tools">
                        <button class="btn btn-info btn-sm" data-widget="collapse" title="Rút gọn"><i class="fa fa-minus"></i></button>
                        <!--<button class="btn btn-info btn-sm" data-widget="remove" data-toggle="tooltip" title="Bỏ đi"><i class="fa fa-times"></i></button>-->
                    </div><!-- /. tools -->
                </div>
                <div class="box-body">
                    <form id="addGalleryForm" name="addGalleryForm" method="post" novalidate>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="name" ng-model="gallery.name" placeholder="Tên {{categoryName}}:" required />
                                    <div ng-messages="addGalleryForm.name.$error" ng-if="editGalleryForm.name.$dirty"
                                         ng-messages-include="Areas/Admin/Templates/Directives/ngMessage/message.html"></div>
                                </div>
                                <div class="form-group">
                                    <input type="number" class="form-control" name="order" ng-model="gallery.order" placeholder="Thứ tự:" required min="1"/>
                                    <div ng-messages="addGalleryForm.order.$error" ng-if="editGalleryForm.order.$dirty"
                                         ng-messages-include="Areas/Admin/Templates/Directives/ngMessage/message.html"></div>
                                </div>
                                <div class="form-group" ng-if="categoryName == 'Video Clip'">
                                    <input type="text" class="form-control" name="url" ng-model="gallery.url" placeholder="Đường dẫn đến {{categoryName}}:" required />
                                    <div ng-messages="addGalleryForm.url.$error" ng-if="editGalleryForm.url.$dirty"
                                         ng-messages-include="Areas/Admin/Templates/Directives/ngMessage/message.html"></div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div>
                                        <button dropzone="dropzoneConfigHome" class="dropzone">
                                            <span class="dz-message">Chọn ảnh đại diện<br /></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="box-footer clearfix">
                    <div class="row">
                        <div class="col-xs-5 col-md-1 pull-right">
                            <a ui-sref="controlPanel.galleryList({galleryCategoryId: galleryCategoryId })" class="pull-right btn btn-danger" id="cancelNews">
                                Hủy&nbsp;<i class="fa fa-times"></i>
                            </a>
                        </div>
                        <div class="col-xs-12 col-md-2 pull-right">
                            <button class="pull-right btn btn-success" id="addGallery" ng-click="addNewGallery(gallery)"
                                    ng-disabled="addGalleryForm.name.$error.required
                                                || addGalleryForm.order.$error.required
                                                || addGalleryForm.url.$error.required
                                    ">
                                Thêm {{categoryName}}&nbsp;<i class="fa fa-cloud-upload"></i>
                            </button>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">
    //Toggle button
    var o = $.AdminLTE.options;
    if (o.enableBoxWidget) {
        $.AdminLTE.boxWidget.activate();
    }

    //dropdzone
    $('button.dropzone').click(function (e) {
        e.preventDefault();
    });

</script>