body {
    font-size:16px;
}

@font-face {
    font-family: 'calibri';
    font-style: normal;
    font-weight: normal;
    src: url('fonts/IE/calibri/calibri.eot');
    src: url('fonts/IE/calibri/calibri.eot') format('embedded-opentype'),
         url('fonts/IE/calibri/calibri.woff2') format('woff2'),
         url('fonts/IE/calibri/calibri.woff') format('woff'),
         url('fonts/IE/calibri/calibri.ttf') format('truetype'),
         url('fonts/IE/calibri/calibri.svg#calibri') format('svg');
}
@font-face {
    font-family: 'MyriadPro';
    font-style: normal;
    font-weight: normal;
    src: url('fonts/IE/MyriadPro-Cond/MyriadProCond.eot');
    src: url('fonts/IE/MyriadPro-Cond/MyriadProCond.eot') format('embedded-opentype'),
         url('fonts/IE/MyriadPro-Cond/MyriadProCond.woff2') format('woff2'),
         url('fonts/IE/MyriadPro-Cond/MyriadProCond.woff') format('woff'),
         url('fonts/IE/MyriadPro-Cond/MyriadProCond.ttf') format('truetype'),
         url('fonts/IE/MyriadPro-Cond/MyriadProCond.svg#MyriadProCond') format('svg');
}
@font-face {
    font-family: 'MyriadPro';
    font-style: normal;
    font-weight: bold;
    src: url('fonts/IE/MyriadPro-BoldCond/MyriadProBoldCond.eot');
    src: url('fonts/IE/MyriadPro-BoldCond/MyriadProBoldCond.eot') format('embedded-opentype'),
         url('fonts/IE/MyriadPro-BoldCond/MyriadProBoldCond.woff2') format('woff2'),
         url('fonts/IE/MyriadPro-BoldCond/MyriadProBoldCond.woff') format('woff'),
         url('fonts/IE/MyriadPro-BoldCond/MyriadProBoldCond.ttf') format('truetype'),
         url('fonts/IE/MyriadPro-BoldCond/MyriadProBoldCond.svg#MyriadProBoldCond') format('svg');
}
@font-face {
    font-family: 'MyriadPro';
    font-weight: bold;
    font-style: italic;
    src: url('fonts/IE/MyriadPro-BoldIt/MyriadProBoldIt.eot');
    src: url('fonts/IE/MyriadPro-BoldIt/MyriadProBoldIt.eot') format('embedded-opentype'),
         url('fonts/IE/MyriadPro-BoldIt/MyriadProBoldIt.woff2') format('woff2'),
         url('fonts/IE/MyriadPro-BoldIt/MyriadProBoldIt.woff') format('woff'),
         url('fonts/IE/MyriadPro-BoldIt/MyriadProBoldIt.ttf') format('truetype'),
         url('fonts/IE/MyriadPro-BoldIt/MyriadProBoldIt.svg#MyriadProBoldIt') format('svg');
}
@font-face {
    font-family: 'MyriadPro';
    font-style: italic;
    font-weight: normal;
    src: url('fonts/IE/MyriadPro-It/MyriadProIt.eot');
    src: url('fonts/IE/MyriadPro-It/MyriadProIt.eot') format('embedded-opentype'),
         url('fonts/IE/MyriadPro-It/MyriadProIt.woff2') format('woff2'),
         url('fonts/IE/MyriadPro-It/MyriadProIt.woff') format('woff'),
         url('fonts/IE/MyriadPro-It/MyriadProIt.ttf') format('truetype'),
         url('fonts/IE/MyriadPro-It/MyriadProIt.svg#MyriadProIt') format('svg');
}