/*
    paging
*/
.pager {
    width: 100%;
}

    .pager form {
        text-align: center;
    }

    .pager a {
        padding: 6px 12px;
        margin-right: 5px;
        background: #e97d25;
        color: white;
        transition: all .1s ease-in-out;
    }

        .pager a:hover {
            background: #FBCA3E;
        }

        .pager a.selected {
            cursor: default;
            background: #ECE9E3;
            color: #e97d25;
            font-weight: bold;
        }

    .pager input[type=text] {
        padding: 7px 2px 5px 2px;
        margin-top: -6px;
    }

    .pager input[type=submit] {
        background: #e97d25;
        color: white;
        padding: 9px 2px 7px 2px;
        margin-top: -6px;
        border: none;
        margin-left: 5px;
    }

        .pager input[type=submit]:hover {
            background: #FBCA3E;
            cursor: pointer;
        }

.modalContentOverlay {
    background: rgba(0,0,0,.5);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
}

    .modalContentOverlay .modalContentOverlayIcon {
        /*position: absolute;
        top: 41%;
        left: 48%;*/
        color: white;
        z-index: 999;
        font-weight: normal !important;
        font-size: 4.5rem !important;
    }

    .modalContentOverlay .CloseContentOverlayIcon {
        position: absolute;
        top: 28%;
        left: 30%;
        color: white;
        z-index: 999;
        font-weight: normal !important;
        font-size: 1.5rem !important;
        /*font-size: 1.5rem !important;*/
    }

    .modalContentOverlay #closeModal:hover {
        cursor: pointer;
        color: rgb(57,29,7);
    }

.modalContentWrapper {
    position: absolute;
    top: 41%;
    left: 48%;
    height: 73px;
    width: 73px;
}

.ContentOverlay {
    background: rgba(0,0,0,.5);
    width: 100%;
    min-height: 100%;
    position: absolute;
    /*top: 37px;*/
    left: 0;
    z-index: 99;
}

#__zsc_once {
    display: none;
}

.hide {
    display: none;
}

.show {
    display: block;
}