<section class="content-header">
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
        <li><a href="#"><i class="fa fa-dashboard"></i> {{categoryName}}</a></li>
        <li class="active">Danh sách {{categoryName}}</li>
    </ol>
</section>


<section class="content">
    <h3></h3>
    <!--danh sach tin tuc-->
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-danger">
                <div class="box-header">
                    <i class="fa fa-list"></i>
                    <h3 class="box-title text-uppercase">DANH SÁCH {{categoryName}}</h3>
                    <!-- tools box -->
                    <div class="pull-right box-tools">
                        <button class="btn btn-danger btn-sm" data-widget="collapse" title="Rút gọn"><i class="fa fa-minus"></i></button>
                        <!--<button class="btn btn-danger btn-sm" data-widget="remove" data-toggle="tooltip" title="Bỏ đi"><i class="fa fa-times"></i></button>-->
                    </div><!-- /. tools -->
                </div>
                <div class="box-body">
                    <table datatable="ng" id="bannerTable" class="table table-bordered table-hover"
                           dt-options="dtOptions" dt-column-defs="dtColumnDefs">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Tên</th>
                                <th>Thứ tự</th>
                                <!--<th>Ngôn ngữ khác</th>-->
                                <th>Người cập nhật</th>
                                <th>Hiển thị</th>
                                <th>Thao tác</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="news in allNews track by $index | orderBy:'news.newses.zOrder'" ng-init="parentIndex = $index">
                                <td>{{$index + 1}}</td>
                                <td>{{news.newses.name}}</td>
                                <td>
                                    <span class="hide">{{news.newses.zOrder}}</span>
                                    <input type="number" ng-model="news.newses.zOrder" class="form-control max-width-60"
                                           ng-readonly="orderReadonlyIndex != parentIndex || orderReadonlyIndex == -1"
                                           min="1" maxlength="3" />
                                    <a class="btn btn-warning btn-xs"
                                       ng-show="orderReadonlyIndex != parentIndex"
                                       ng-click="editZorder($index)">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                    <a class="btn btn-success btn-xs"
                                       ng-show="orderReadonlyIndex == parentIndex"
                                       ng-click="updateZorder($index)">
                                        <i class="fa fa-check-square-o"></i>
                                    </a>
                                </td>
                                <!--<td>
                                    <a ng-repeat="newsMapping in news.newses.newsMappings"
                                       ng-click="getNews(parentIndex, newsMapping.languageId)" style="margin-right: 10px;"
                                       ng-if="newsMapping.languageId != 129"
                                       title="Click để chỉnh sửa nội dung cho ngôn ngữ này">
                                        <span ng-if="newsMapping.languageId == 129">
                                            <img src="/Areas/Admin/Content/Images/icons/flags/VietNam.png" />
                                        </span>
                                        <span ng-if="newsMapping.languageId == 29">
                                            <img src="/Areas/Admin/Content/Images/icons/flags/usa.png" />
                                        </span>
                                    </a>&nbsp;
                                    <span ng-if="news.newses.bannerMappings.length <= 1">Không có</span>
                                </td>-->
                                <td>{{news.editedUser}}</td>
                                <td>
                                    <label>
                                        <input type="checkbox" name="status" ng-model="news.newses.status" ng-change="updateZorder($index)" />
                                        <span ng-show="news.newses.status">&nbsp;Hiển thị</span>
                                        <span ng-show="!news.newses.status">&nbsp;Ẩn</span>
                                    </label>
                                </td>
                                <td>
                                    <a class="btn btn-xs btn-warning" title="Sửa" ng-click="getNews(parentIndex, defaultLanguageId)"><i class="fa fa-edit"></i></a>
                                    <a class="btn btn-xs btn-danger" title="Xóa" ng-click="deleteNews(parentIndex, news.newses)"><i class="fa fa-times"></i></a>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>#</th>
                                <th>Tên</th>
                                <th>Thứ tự</th>
                                <!--<th>Ngôn ngữ</th>-->
                                <th>Người cập nhật</th>
                                <th>Hiển thị</th>
                                <th>Thao tác</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <div class="box-footer clearfix">
                    <div class="row">
                        <div class="col-md-6">
                            <a ui-sref="controlPanel.addNews({newsCategoryId: newsCategoryId })" class="btn btn-danger btn-flat">Thêm bài viết mới</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!--chinh sua khoa hoc-->
    <div class="currentNewsLanguage"></div>
    <div class="row" ng-show="currentNewsLanguage">
        <div class="col-xs-12">
            <div class="box box-info">
                <div class="box-header">
                    <i class="fa fa-plus-circle"></i>
                    <h3 class="box-title">
                        CHỈNH SỬA BÀI VIẾT: <b>{{currentNewsLanguage.title}}</b>
                        <span ng-if="currentNewsLanguage.languageId == 129">(Tiếng Việt - ngôn ngữ mặc định)</span>
                        <span ng-if="currentNewsLanguage.languageId == 29">(English)</span>
                    </h3>
                    <!-- tools box -->
                    <div class="pull-right box-tools">
                        <button class="btn btn-info btn-sm" data-widget="collapse" title="Rút gọn"><i class="fa fa-minus"></i></button>
                        <!--<button class="btn btn-info btn-sm" data-widget="remove" data-toggle="tooltip" title="Tắt"><i class="fa fa-times"></i></button>-->
                        <button class="btn btn-info btn-sm" ng-click="currentNewsLanguage = null" title="Tắt"><i class="fa fa-times"></i></button>
                    </div><!-- /. tools -->
                </div>
                <div class="box-body">
                    <form id="editNewsForm" name="editNewsForm" method="post" novalidate>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="name">Tên: </label>
                                            <input type="text" class="form-control" name="title" ng-model="currentNewsLanguage.title" placeholder="Tên bài viết:" required />
                                            <div ng-messages="editNewsForm.title.$error"
                                                 ng-messages-include="Areas/Admin/Templates/Directives/ngMessage/message.html"></div>
                                        </div>
                                    </div>
                                    <!--<div class="col-md-4">
                                        <div class="form-group">
                                            <label for="order">Vị trí: </label>
                                            <input type="number" class="form-control" name="order" ng-model="currentNewsLanguage.order" placeholder="Vị trí:" required min="1" />
                                            <div ng-messages="editNewsForm.order.$error"
                                                 ng-messages-include="Areas/Admin/Templates/Directives/ngMessage/message.html"></div>
                                        </div>
                                    </div>-->
                                </div>
                                <div class="form-group">
                                    <label for="keyword">Nội dung Intro: </label>
                                    <textarea class="form-control" name="intro" ng-model="currentNewsLanguage.intro" placeholder="Nội dung Intro:"></textarea>
                                </div>

                                <div class="form-group">
                                    <label for="keyword">Keyword (SEO): </label>
                                    <textarea class="form-control" name="keyword" ng-model="currentNewsLanguage.keyword" placeholder="Keywork (SEO):"></textarea>
                                    <div ng-messages="editNewsForm.keyword.$error"
                                         ng-messages-include="Areas/Admin/Templates/Directives/ngMessage/message.html"></div>
                                </div>
                                <div class="form-group">
                                    <label for="description">Description (SEO): </label>
                                    <textarea class="form-control" name="description" ng-model="currentNewsLanguage.description" placeholder="Description (SEO):"></textarea>
                                    <div ng-messages="editNewsForm.description.$error"
                                         ng-messages-include="Areas/Admin/Templates/Directives/ngMessage/message.html"></div>
                                </div>
                                <div class="form-group">
                                    <label for="description">MetaData (SEO): </label>
                                    <textarea class="form-control" name="metaData" ng-model="currentNewsLanguage.metaData" placeholder="MetaData (SEO) - (Chỉ thay đổi nếu bạn biết chắc chắn mình đang làm gì) : "></textarea>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="row form-group">
                                    <div class="col-md-4">
                                        <label for="name">Ảnh đại diện: </label>
                                        <img ng-src="{{currentNewsLanguage.thumbUrl}}" alt="" class="img-responsive" />
                                    </div>
                                    <div class="col-md-8">
                                        <label for="name">&nbsp;</label>
                                        <div class="form-group">
                                            <div>
                                                <button dropzone="dropzoneConfigHome" class="dropzone">
                                                    <span class="dz-message">Chọn ảnh đại diện (Trang chủ)<br /></span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="bannerImageIntro">Nội dung chi tiết: </label>
                                    <textarea id="detail" name="detail" ng-model="currentNewsLanguage.detail" class="textarea" placeholder="Nội dung chi tiết" style="width: 100%; height: 125px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
                <div class="box-footer clearfix">
                    <div class="row">
                        <div class="col-xs-12 col-md-6 pull-right">
                            <div class="col-xs-3 pull-right">
                                <button class="pull-right btn btn-danger" id="cancel" ng-click="currentNewsLanguage = null">
                                    Hủy&nbsp;&nbsp;<i class="fa fa-times"></i>
                                </button>
                            </div>
                            <div class="col-xs-5 pull-right">
                                <button class="pull-right btn btn-success" id="addNews" ng-click="updateNewsLanguage(currentNewsLanguage)"
                                        ng-disabled="editNewsForm.name.$error.required">
                                    Cập nhật bài viết&nbsp;&nbsp;<i class="fa fa-cloud-upload"></i>
                                </button>
                            </div>
                            <div class="hide">
                                <button id="uploadBanner"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>

<script type="text/javascript">
    //CKEditor & ckfinder Noi dung detail
    var editor1 = CKEDITOR.instances['detail'];
    if (editor1) { editor1.destroy(true); }
    CKEDITOR.replace('detail', {
        enterMode: CKEDITOR.ENTER_BR,
        customConfig: '/ckeditor/config.js'
    });

    CKFinder.setupCKEditor(null, "/ckfinder/");

    //Toggle button
    var o = $.AdminLTE.options;
    if (o.enableBoxWidget) {
        $.AdminLTE.boxWidget.activate();
    }

    //checkbox
    $('input[type="checkbox"].minimal-red, input[type="radio"].minimal-red').iCheck({
        checkboxClass: 'icheckbox_minimal-red',
        radioClass: 'iradio_minimal-red'
    });

    //dropdzone
    $('button.dropzone').click(function (e) {
        e.preventDefault();
    });

</script>