<section class="content-header">
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
        <li><a href="#"><i class="fa fa-dashboard"></i> Banner</a></li>
        <li class="active">Banner</li>
    </ol>
</section>


<section class="content" ng-controller="bannerController">
    <h3></h3>
    <!--danh sach email lien he-->
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-danger">
                <div class="box-header">
                    <i class="fa fa-list"></i>
                    <h3 class="box-title text-uppercase">DANH SÁCH BANNER</h3>
                    <!-- tools box -->
                    <div class="pull-right box-tools">
                        <button class="btn btn-danger btn-sm" data-widget="collapse" title="Rút gọn"><i class="fa fa-minus"></i></button>
                        <!--<button class="btn btn-danger btn-sm" data-widget="remove" data-toggle="tooltip" title="Bỏ đi"><i class="fa fa-times"></i></button>-->
                    </div><!-- /. tools -->
                </div>
                <div class="box-body">
                    <table datatable="ng" id="bannerTable" class="table table-bordered table-hover"
                           dt-options="dtOptions" dt-column-defs="dtColumnDefs">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Tên</th>
                                <!--<th>Hình ảnh</th>
                                <th>Liên kết</th>-->
                                <th>Thứ tự</th>
                                <th>Ngôn ngữ khác</th>
                                <th>Ngưởi cập nhật</th>
                                <th>Hiển thị</th>
                                <th>Thao tác</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="banner in bannerList track by $index | orderBy:'banner.banners.zOrder'" ng-init="parentIndex = $index">
                                <td>{{$index + 1}}</td>
                                <td>{{banner.banners.name}}</td>
                                <!--<td>
                                    <img ng-src="{{banner.banners.mediaThumbUrl}}" alt="" class="img-responsive" style="max-width: 30px;" />
                                </td>
                                <td>
                                    {{banner.banners.linkUrl}}
                                </td>-->
                                <td>
                                    <input type="number" ng-model="banner.banners.zOrder" class="form-control max-width-60"
                                           ng-readonly="orderReadonlyIndex != parentIndex || orderReadonlyIndex == -1"
                                           min="1" maxlength="3" />
                                    <a class="btn btn-warning btn-xs"
                                       ng-show="orderReadonlyIndex != parentIndex"
                                       ng-click="editZorder($index)">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                    <a class="btn btn-success btn-xs"
                                       ng-show="orderReadonlyIndex == parentIndex"
                                       ng-click="updateZorder($index)">
                                        <i class="fa fa-check-square-o"></i>
                                    </a>
                                </td>
                                <td>
                                    <a ng-repeat="bannerMapping in banner.banners.bannerMappings"
                                       ng-click="getBanner(parentIndex, bannerMapping.languageId)" style="margin-right: 10px;"
                                       ng-if="bannerMapping.languageId != 129"
                                       title="Click để chỉnh sửa nội dung cho ngôn ngữ này">
                                        <span ng-if="bannerMapping.languageId == 129">
                                            <img src="/Areas/Admin/Content/Images/icons/flags/VietNam.png" />
                                        </span>
                                        <span ng-if="bannerMapping.languageId == 29">
                                            <img src="/Areas/Admin/Content/Images/icons/flags/usa.png" />
                                        </span>
                                    </a>&nbsp;
                                    <span ng-if="banner.banners.bannerMappings.length <= 1">Không có</span>
                                </td>
                                <td>{{banner.editedUser}}</td>
                                <td>
                                    <label>
                                        <input type="checkbox" name="status" ng-model="banner.banners.status" ng-change="updateZorder($index)"  />
                                        <span ng-show="banner.banners.status">&nbsp;Hiển thị</span>
                                        <span ng-show="!banner.banners.status">&nbsp;Ẩn</span>
                                    </label>
                                </td>
                                <td>
                                    <a class="btn btn-xs btn-warning" title="Sửa Banner" ng-click="getBanner(parentIndex, defaultLanguageId)"><i class="fa fa-edit"></i></a>
                                    <a class="btn btn-xs btn-danger" title="Xóa Banner" ng-click="deleteBanner(parentIndex, banner.banners)"><i class="fa fa-times"></i></a>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>#</th>
                                <th>Tên</th>
                                <!--<th>Hình ảnh</th>
                                <th>Liên kết</th>-->
                                <th>Thứ tự</th>
                                <th>Ngôn ngữ</th>
                                <th>Ngưởi cập nhật</th>
                                <th>Hiển thị</th>
                                <th>Thao tác</th>
                            </tr>
                        </tfoot>
                    </table>
                    <!--<div vmis-table="gridInfo"></div>-->
                </div>
                <div class="box-footer clearfix">
                    <div class="row">
                        <div class="col-md-6">
                            <a ui-sref="controlPanel.addBanner" class="btn btn-danger btn-flat">Thêm banner mới</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!--xem email-->
    <div class="currentBannerLanguage"></div>
    <div class="row" ng-show="currentBannerLanguage">
        <div class="col-xs-12">
            <div class="box box-info">
                <div class="box-header">
                    <i class="fa fa-plus-circle"></i>
                    <h3 class="box-title">
                        CHỈNH SỬA BANNER: <b>{{currentBannerLanguage.name}}</b>
                        <span ng-if="currentBannerLanguage.languageId == 129">(Tiếng Việt - ngôn ngữ mặc định)</span>
                        <span ng-if="currentBannerLanguage.languageId == 29">(English)</span>
                    </h3>
                    <!-- tools box -->
                    <div class="pull-right box-tools">
                        <button class="btn btn-info btn-sm" data-widget="collapse" title="Rút gọn"><i class="fa fa-minus"></i></button>
                        <!--<button class="btn btn-info btn-sm" data-widget="remove" data-toggle="tooltip" title="Tắt"><i class="fa fa-times"></i></button>-->
                        <button class="btn btn-info btn-sm" ng-click="currentBannerLanguage = null" title="Tắt"><i class="fa fa-times"></i></button>
                    </div><!-- /. tools -->
                </div>
                <div class="box-body">
                    <form id="editBannerForm" name="editBannerForm" method="post" novalidate>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <label for="name">Tên: </label>
                                            <input type="text" class="form-control" name="name" ng-model="currentBannerLanguage.name" placeholder="Tên Banner:" required />
                                            <div ng-messages="editBannerForm.name.$error"
                                                 ng-messages-include="Areas/Admin/Templates/Directives/ngMessage/message.html"></div>
                                        </div>
                                    </div>
                                    <!--<div class="col-md-4">
                                        <div class="form-group">
                                            <label for="order">Vị trí: </label>
                                            <input type="number" class="form-control" name="zOrder" ng-model="currentBannerLanguage.zOrder" placeholder="Vị trí:" required min="1"/>
                                            <div ng-messages="editBannerForm.order.$error"
                                                 ng-messages-include="Areas/Admin/Templates/Directives/ngMessage/message.html"></div>
                                        </div>
                                    </div>-->
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="linkUrl">Link trỏ đến:</label>
                                            <input type="text" class="form-control" ng-model="currentBannerLanguage.linkUrl" name="linkUrl" placeholder="ex: /lien-he" />
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="name">Nội dung Banner: </label>
                                            <input type="text" class="form-control" name="description" ng-model="currentBannerLanguage.description" placeholder="Nội dung Banner:" />
                                            <div ng-messages="editBannerForm.description.$error"
                                                 ng-messages-include="Areas/Admin/Templates/Directives/ngMessage/message.html"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="name">Hình Banner: </label>
                                        <img ng-src="{{currentBannerLanguage.mediaUrl}}" alt="" class="img-responsive" />
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div>
                                                <label for="name">&nbsp;</label>
                                                <button dropzone="dropzoneConfigHome" class="dropzone">
                                                    <span class="dz-message">Chọn ảnh banner (Trang chủ)<br /></span>
                                                </button>
                                            </div>
                                        </div>
                                        <!--<div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label for="linkUrl">Link trỏ đến:</label>
                                                    <input type="text" class="form-control" ng-model="currentBannerLanguage.linkUrl" name="linkUrl" placeholder="ex: /lien-he" />
                                                </div>
                                            </div>
                                        </div>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="box-footer clearfix">
                    <div class="row">
                        <div class="col-xs-12 col-md-6 pull-right">
                            <div class="col-md-2 pull-right">
                                <button class="pull-right btn btn-danger" id="cancel" ng-click="currentBannerLanguage = null">
                                    Hủy&nbsp;&nbsp;<i class="fa fa-times"></i>
                                </button>
                            </div>
                            <div class="col-md-5 pull-right">
                                <button class="pull-right btn btn-success" id="updateBannerLanguage" ng-click="updateBannerLanguage(currentBannerLanguage)"
                                        ng-disabled="editBannerForm.name.$error.required
                                                    ||  editBannerForm.keyword.$error.required
                                                    ||  editBannerForm.description.$error.required
                                    ">
                                    Cập nhật Banner&nbsp;&nbsp;<i class="fa fa-cloud-upload"></i>
                                </button>
                            </div>
                            <div class="hide">
                                <button id="uploadBanner"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>

<script>

    //Toggle button
    var o = $.AdminLTE.options;
    if (o.enableBoxWidget) {
        $.AdminLTE.boxWidget.activate();
    }

    //dropdzone
    $('button.dropzone').click(function (e) {
        e.preventDefault();
    });
</script>