<section class="content-header">
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
        <li><a href="#"><i class="fa fa-dashboard"></i> Công trình thực tế</a></li>
        <li class="active">Thêm Công trình thực tế mới</li>
    </ol>
</section>


<section class="content">
    <h3></h3>
    <!--them bai viet-->
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-info">
                <div class="box-header">
                    <i class="fa fa-plus-circle"></i>
                    <h3 class="box-title text-uppercase">THÊM BÀI VIẾT CÔNG TRÌNH THỰC TẾ</h3>
                    <!-- tools box -->
                    <div class="pull-right box-tools">
                        <button class="btn btn-info btn-sm" data-widget="collapse" title="Rút gọn"><i class="fa fa-minus"></i></button>
                        <!--<button class="btn btn-info btn-sm" data-widget="remove" data-toggle="tooltip" title="Bỏ đi"><i class="fa fa-times"></i></button>-->
                    </div><!-- /. tools -->
                </div>
                <div class="box-body">
                    <form id="addNewsForm" name="addNewsForm" method="post" novalidate>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="name">Tên bài viết: </label>
                                    <input type="text" class="form-control" name="name" ng-model="news.name" placeholder="Tên bài viết:" required />
                                    <div ng-messages="addNewsForm.name.$error"
                                         ng-messages-include="Areas/Admin/Templates/Directives/ngMessage/message.html"></div>
                                </div>
                            </div>
                            <!--<div class="col-md-4">
                                <div class="form-group">
                                    <label for="name">Thứ tự: </label>
                                    <input type="text" class="form-control" name="zOrder" ng-model="news.zOrder" placeholder="Thứ tự:" required min="1"/>
                                    <div ng-messages="addNewsForm.zOrder.$error"
                                         ng-messages-include="Areas/Admin/Templates/Directives/ngMessage/message.html"></div>
                                </div>
                            </div>-->
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="name">Nội dung Intro: </label>
                                    <input type="text" class="form-control" name="intro" ng-model="news.intro" placeholder="Nội dung Intro:" />
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="name">Keyword (SEO): </label>
                                    <textarea class="form-control" name="keyword" ng-model="news.keyword" placeholder="Keywork (SEO):"></textarea>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="name">Description (SEO): </label>
                                    <textarea class="form-control" name="description" ng-model="news.description" placeholder="Description (SEO)"></textarea>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="name">MetaData (SEO): </label>
                                    <textarea class="form-control" name="metaData" ng-model="news.metaData" placeholder="MetaData (SEO) - (Chỉ nhập nếu bạn biết chắc chắn mình đang làm gì)"></textarea>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="name">Hình đại diện: </label>
                                            <div>
                                                <button dropzone="dropzoneConfigHome" class="dropzone">
                                                    <span class="dz-message">Chọn ảnh đại diện (Trang chủ)<br /></span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="name">Nội dung: </label>
                                    <textarea class="form-control" name="detail" ng-model="news.detail" placeholder="Nội dung"></textarea>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="box-footer clearfix">
                    <div class="row">
                        <div class="col-xs-5 col-md-1 pull-right">
                            <a ui-sref="controlPanel.newsList({newsCategoryId: newsCategoryId })" class="pull-right btn btn-danger" id="cancelNews">
                                Hủy&nbsp;<i class="fa fa-times"></i>
                            </a>
                        </div>
                        <div class="col-xs-12 col-md-2 pull-right">
                            <button class="pull-right btn btn-success" id="addNews" ng-click="addNewNews(news)"
                                    ng-disabled="addNewsForm.name.$error.required">
                                Thêm bài viết&nbsp;<i class="fa fa-cloud-upload"></i>
                            </button>
                        </div>
                        <div class="hide">
                            <button id="uploadBanner"></button>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">
    //CKEditor & ckfinder Noi dung detail
    var editor1 = CKEDITOR.instances['detail'];
    if (editor1) { editor1.destroy(true); }
    CKEDITOR.replace('detail', {
        enterMode: CKEDITOR.ENTER_BR,
        customConfig: '/ckeditor/config.js'
    });
    CKFinder.setupCKEditor(null, "/ckfinder/");

    //Toggle button
    var o = $.AdminLTE.options;
    if (o.enableBoxWidget) {
        $.AdminLTE.boxWidget.activate();
    }

    //dropdzone
    $('button.dropzone').click(function (e) {
        e.preventDefault();
    });

</script>