@model System.Data.Entity.Infrastructure.DbQuery<IEnumerable<PenDesign.Core.Model.NewsMapping>>

@if (Model != null)
{
    <div class="grid_3">
        <h4>@ViewBag.newsCategoryName</h4>
        <ul class="list">
            @foreach (var item in Model)
            {
                foreach (var news in item)
                {
                    <li><a href="#">@news.Title</a></li>
                }

            }
        </ul>
        <div class="alright">
            <a href="#" class="btn">Xem thêm</a>
        </div>
    </div>
}
