@model PenDesign.Core.Model.ProjectImage


@if (Model != null)
{
    <div class="grid_3">
        <h4>Video</h4>
        <img src="@Model.Thumbnail" alt="@Model.ProjectImageMappings.Single(m => m.LanguageId == 129).Name" class="img_inner">
        @Html.Raw(Model.ProjectImageMappings.Single(m => m.LanguageId == 129).Description)
        <div class="alright">
            <a href="#" class="btn">Xem thêm</a>
        </div>
    </div>
}
