@model System.Data.Entity.Infrastructure.DbQuery<IEnumerable<PenDesign.Core.Model.ControlMapping>>
<header>
    <div class="container_12">
        <div class="grid_12">
            <h1>
                <a href="index.html">
                    <img src="@Html.Raw(ViewBag.logo)" alt="@ViewBag.companyName">
                </a>
            </h1>
            @if (Model != null) {
                <div class="menu_block ">
                    <nav class="horizontal-nav full-width horizontalNav-notprocessed">
                        <ul class="sf-menu">
                            @foreach (var menu in Model)
                            {
                                foreach (var item in menu)
                                {
                                    <li><a href="@item.Control.Url">@item.Text</a></li>
                                }
                            }
                        </ul>
                    </nav>
                    <div class="clear"></div>
                </div>
            }
        </div>
    </div>
</header>